/* Estilos Generales */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* Clase personalizada para Oswald con opciones específicas */
.oswald-uniquifier {
    font-family: 'Oswald', sans-serif;
    font-weight: 100; /* Puedes ajustar el peso de la fuente */
    font-style: normal;
}

html, body {
    margin: 0;
    font-family: 'Oswald', sans-serif; /* Aplica la fuente Oswald */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    letter-spacing: 1.5px;
    padding: 0;
    height: 100%;
    overflow: hidden;
    overflow-y: auto; 
}

/* Fondo para la página principal */
.fondo-principal {
    background-image: url("/static/imagenes/fondo1.jpeg");
}

/* Fondo para otras páginas */
.fondo-secundario {
    background-image: url("/static/imagenes/fondoPelotas.jpeg"); /* Cambia esto por la imagen que desees */
    background-size: 100%; /* Ajusta el tamaño a un 80% del contenedor */
    background-position: center;
    background-repeat: no-repeat;
}

h3{
    color: #5c5c5c;
    font-style: LIGHT;
    font-weight: 100; 
    margin-bottom: -1px;
    text-align: center;
    align-items: center;
}

.negro{
    color: #000000;
    font-style: bold;    
}

.chico{
    font-size: 15px;
}

h5{
    color: rgb(255, 255, 255);
    font-style: LIGHT;
    font-weight: 200; 
    size: 10px;
}

.fondo1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("{% static 'css/imagenes/fondo1.jpeg' %}"); 
}

a {
    text-decoration: none;
}

/* Alineamos ambos títulos a la derecha */
.h1-right {
    text-align: right; /* Alinea el texto "Torneos de" a la derecha */
    margin-bottom: -20px;  /* Elimina el margen inferior para reducir el espacio entre ambos textos */
}

.titulos {
    text-align: right; /* Alinea el texto "TENIS" a la derecha */
    margin-top: -20px; /* Ajusta el margen superior para acercar los textos */
    margin-bottom: 20px; /* Espacio inferior para separar del siguiente contenido */
}

/* Para ajustar más el espaciado si es necesario */
.text-align-right {
    text-align: right; /* Asegura que todo esté alineado a la derecha */
}

.separator{
    border: 0;
    height: 2px;
    background: #ccc;
    width: 100%;
    max-width: 90%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.separator-line {
    border: 0;
    height: 2px;
    background: #ccc;
    width: 100%;
    max-width: 90%;
    margin-bottom: -10px;
    margin-top: 1px;
}

.text-section {
    width: 100%;
    text-align: center;
    margin-top: -20px;
}

/* Estilo para el contenedor del título en naranja */
.title-orange-box {
    background-color: orange;
    padding: 0px;
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border-top-left-radius: 15px;  /* Solo bordes superiores redondeados */
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;  /* Bordes inferiores rectos */
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: -40px;
}

.title-orange-gris {
    background-color: rgb(172, 172, 172);
    padding: 0px;
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border-top-left-radius: 15px;  /* Bordes superiores redondeados */
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;  /* Bordes inferiores rectos */
    border-bottom-right-radius: 0;
    margin-bottom: 10px;
    width: 110%; /* Ajustar ancho al 100% */
    height: auto; /* Ajustar altura automáticamente */
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Permitir que los elementos se alineen verticalmente */
    align-items: center;
    justify-content: center; /* Centra el texto horizontalmente */
    margin-top: -10px;    
}

.title-orange-gris h1 {
    margin: 0; /* Eliminar márgenes para un mejor ajuste */
    font-size: 24px; /* Ajusta el tamaño del texto según sea necesario */
    line-height: 1.2; /* Reduce el espacio entre líneas */
    
}

.title-orange-gris h3 {
    margin: 0; /* Eliminar márgenes para un mejor ajuste */
    line-height: 1.2;
}

.title-separator {
    width: 50%; /* Ajustar el ancho de la línea separadora */
    margin: 10px 0; /* Espaciado arriba y abajo de la línea separadora */
}



@import url('https://fonts.googleapis.com/css2?family=Verdana:wght@400;700&display=swap');

.titulos {
    font-family: 'Verdana', sans-serif;
    font-size: 6rem;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}


/* Menu Principal */
.menu-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    color: white;
    position: fixed; /* Fijo en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    left: 0;
    z-index: 1000; /* Asegura que el menú esté sobre otros elementos */
}


.hamburguesa {
    color: rgb(110, 110, 110);
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    border: none;
}

#menu-toggle {
    color: white;
}

#menu-toggle:hover {
    color: darkgreen;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 30px;
    position: relative;
    padding-right: 20px;
}

.nav-item:not(:last-child)::after {
    content: '|';
    position: absolute;
    right: 0;
    color: gray;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-link {
    color: gray;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}

.nav-link:hover {
    color: white;
}



/* Estilos para el Logo */
.logo-menu {
    height: 40px;
    width: auto;
}

/* Estilos del Menu Deslizable */
.side-menu {
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100%;
    background-color: rgba(68, 175, 68, 0.5);
    color: rgb(255, 255, 255);
    transition: left 0.3s ease;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    font-weight: bold;
    text-align: right;
}

.side-menu.active {
    left: 0;
}

.separator-negro{
    border: 0;
    height: 2px;
    background: #000000;
    width: 110%;
    margin-left: -25px;
    margin-bottom: 15px;
    margin-top: 15px;
}
/* Estilo del Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Espacio a los lados */
}

.close-btn {
    font-size: 30px;
    cursor: pointer;
}

.barra-item {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
}

.barra-item a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    box-sizing: border-box;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin-bottom: 20px;
}

.side-menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.side-menu a:hover {
    color: darkgreen;
}

/* Footer */
.footer-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: limegreen;
    text-align: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.footer-button {
    background-color: rgba(7, 82, 11, 0.5);
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    width: 200px;
}

.footer-button:hover {
    background-color: limegreen;
    color: black;
}

.icon-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s;
}

.icon-button i {
    color: rgb(19, 68, 13);
}

.icon-button i:hover {
    color: rgb(4, 41, 4);
}

/* Estilos de Contenedores */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    background-color: #f0f0f0;
}

.recuadros-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    flex-wrap: wrap; /* Para que los recuadros se ajusten cuando no haya espacio horizontal */
    padding-bottom: 80px;
}

.recuadro {
    flex: 1;
    max-width: 48%;
    box-sizing: border-box;
    gap: 20px;
    padding-bottom: 20px;
}

.container-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.box-container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

/* Estilos de las Cajas */
.login-box {
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 1);
    color: black;
    width: 550px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 15px;
    margin-bottom: 50px;
}


.narrow-box {
    background-color: rgba(255, 255, 255, 0.8);
    width: 200px; /* Ancho del rectángulo angosto */
    height: 550px; /* Ajustar la altura automáticamente */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 1);
    color: black; /* Color del texto */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los contenidos horizontalmente */
}

.narrow-box .buttons-container {
    margin-top: auto; /* Empuja los botones hacia abajo */
}


.input-field {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega sombra */
}

.login-button {
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: block;
    width: 80%;
    margin: 10px auto; /* Cambia 'margin-top' por 'margin' para centrar */
    text-align: center;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}

.login-button:hover {
    background-color: rgb(165, 83, 15);
}

.login-button-gris {
    background-color: rgb(143, 143, 143);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    display: block;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
}

.login-button-gris:hover{
    background-color: rgb(49, 49, 49);
}
.chico {
    width: 200px;
    margin-bottom: 15px;
    margin-top: auto; /* Empuja el elemento al fondo del contenedor */
    margin-bottom: 15px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
}

.remember-me-label {
    margin-left: 5px;
    text-align: center;
}

/* Estilos de la Sección de Historial */
.history {
    margin: 20px auto;
    width: 90%;
}

.history-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

.history-item p {
    margin: 0;
}

.history-date {
    font-size: 12px;
    color: gray;
}

/* Estilos de los Botones de Historial */
.history-button {
    background-color: limegreen;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    text-align: center;
    margin-left: 10px;
}

.history-button:hover {
    background-color: darkgreen;
}

/* Estilo general del formulario */
#form-nuevo-jugador {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    padding: 10px; /* Añade padding interno al formulario */
    margin: 10px auto; /* Cambia 'margin-top' por 'margin' para centrar */
    text-align: center;
    width: 80%;
}

/* Estilo de los elementos del formulario */
#form-nuevo-jugador input,
#form-nuevo-jugador select {
    width: 90%; /* Ancho completo del contenedor */
    padding: 10px; /* Padding interno para los elementos */
    margin: 10px auto; /* Cambia 'margin-top' por 'margin' para centrar */
    text-align: center;
}

.form-container {
    display: flex; /* Alinea los elementos hijos horizontalmente */
    justify-content: space-between; /* Asegura que el espacio entre el narrow-box y el login-box sea uniforme */
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor (parte superior) */
    gap: 20px; /* Espacio entre los elementos */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
    max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el contenedor */
}

.narrow-box {
    background-color: rgba(255, 255, 255, 0.4); /* Color de fondo del rectángulo angosto */
    width: 200px; /* Ancho del rectángulo angosto */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para el rectángulo angosto */
    color: black; /* Color del texto */
}

/* Estilos de los Botones del Deslizador */
.prev, .next {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    color: limegreen;
}

.box-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}
/* Listado de jugadores */
.player-record {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Línea de separación entre registros */
}

.player-separator {
    border: none; /* Elimina cualquier borde del separador */
    height: 2px; /* Espesor del separador entre renglones */
    background-color: #ddd; /* Color del separador */
    margin: 0; /* Elimina el margen */
}

.player-list {
    display: flex;
    flex-direction: column; /* Asegura que los jugadores se muestren uno debajo del otro */
    gap: 5px; /* Espacio entre jugadores */
    text-align: left; /* Alinear texto a la izquierda */
}

.player-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr; /* Define el ancho de las columnas */
    gap: 20px; /* Espacio entre columnas */
    align-items: center; /* Centra verticalmente */
    text-align: left; /* Alinear texto a la izquierda */
}

.player-item span {
    padding: 5px 0; /* Espacio vertical en los datos */
    text-align: left; /* Alinea el texto a la izquierda dentro de cada celda */
    margin: 0; /* Elimina márgenes adicionales */
}

.titulo-item {
    text-align: left; /* Alinear los títulos a la izquierda */
}

/* Barra de títulos */
.barra-titulos {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr; /* Define el ancho de las columnas */
    gap: 20px; /* Espacio entre columnas */
    text-align: left; /* Alinear texto a la izquierda */
    display: grid;
    background-color: #fff;
    border-top: 2px solid black; /* Línea arriba */
    border-bottom: 2px solid black; /* Línea abajo */
    padding: 10px;
}

.barra-titulos span {
    text-align: left; /* Alinear texto a la izquierda en la barra de títulos */
}

/* Login-box grande */
.login-box.grande {
    position: relative;
    width: 100%; /* O ajusta el ancho según sea necesario */
    max-width: 800px; /* Ajusta según el diseño deseado */
    margin: 0 auto; /* Centra el login-box en el contenedor padre */
    padding: 20px;
    background-color: #f9f9f9; /* Opcional: color de fondo del login-box */
    border: 1px solid #ddd; /* Opcional: borde alrededor del login-box */
}

/* Barra de filtros */
.barra-filtros {
    background-color: #808080; /* Color gris claro */
    padding-right: 10px;
    padding-top: -5px;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: space-between; /* Distribuye el espacio horizontalmente */
    margin-bottom: 10px;
}

.barra-filtros span {
    font-weight: bold;
    flex: 1; /* Toma el espacio disponible */
    text-align: center; /* Centra el texto */
}

.botones-filtros {
    display: flex;
    gap: 40px; /* Espacio entre botones */
}

/* Botón eliminar */
.modificar-button {
    color: #fff;
    font-size: 20px; /* Tamaño del signo '-' */
    background-color: #819e00;
    text-decoration: none;
    border-radius: 10px;
    width: 40px; /* Tamaño del botón */
    height: 20px; /* Tamaño del botón */
    display: flex; /* Activamos Flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 0; /* Sin padding extra */
    border: none; /* Sin borde extra */
    box-sizing: border-box; /* Aseguramos que el tamaño incluya bordes/padding */
}

.modificar-button:hover {
    background-color: #055216;
}
