<!-- En el dia de hoy 5/04/2025 Agrega la carga masiva de Categorias   id  Inicio CARGA MASIVA - 101 -->

{% extends "layout.html" %}    
{% block body_class %}fondo-secundario{% endblock %}

{% block content %} 
<!-- Modal de Confirmación de Alta de Categoría -->
<div class="modal fade" id="modalConfirmacionCategoria" tabindex="-1" aria-labelledby="modalConfirmacionCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: rgba(210, 223, 101, 0.85); color: white; text-align: center;">
            <div class="modal-header">
                <h3 class="modal-title" id="modalConfirmacionCategoriaLabel">¡Categoría Guardada con Éxito!</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x" style="font-size: 1.5rem; color: white;"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>La nueva categoría ha sido registrada correctamente.</p>
                <hr class="separator">
                <button type="button" class="login-button" data-url="{% url 'admin_menu' %}" onclick="window.location.href=this.dataset.url">
                    Cargar Otra Categoría
                </button>
                <hr class="separator">
                <button type="button" class="login-button" data-url="{% url 'admin_menu' %}" onclick="window.location.href=this.dataset.url">
                    Ir al Menú Principal
                </button>
            </div>
        </div>
    </div>
</div>


<div class="container-admin">
    {% if user.is_authenticated %}
        <h4>ADMINISTRADOR</h4>
    {% else %}
        <h4>LIGA 2025</h4>
    {% endif %}
    <div class="text-section">
        <hr class="separator-line">
        <h5 style="font-size: 1rem; margin-top: 1rem; margin-bottom: 1rem;">ALTA DE CATEGORIA</h5>
    </div>

    <!-- FILTROS -->
    <div class="recuadro-tabla">
        
        <!-- id="form-crear"  agregar en div de form container sumado a clase hidden para cerrar y abrir panel -->
        <div class="form-container-torneos">
            <div class="container-form-filter">
                <form method="GET" action="{% url 'listados_categorias' %}#resultados" class="row g-2 mb-3">

                    <!-- BOTONES -->
                    <div style="display: flex; flex-direction: row; gap: 1rem">
                        
                        <div class="btn-opciones">
                            <a href="{% url 'listados_categorias' %}">LISTADO COMPLETO</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- LINKS -->
            <div id="resultados">
                <a class="a-options" href="{% url 'admin_menu' %}">
                <i class="bi bi-box-arrow-right" style="margin-right: 5px;"></i>
                MENÚ ADMINISTRADOR
                </a>

                {% if user.is_authenticated and user.is_staff %}
                <!-- Inicio Carga Masiva de Jugadores 102-->     
                <form id="form-carga-masiva" enctype="multipart/form-data" style="display: none;">
                    {% csrf_token %}
                    <input type="file" id="input-jugadores" name="archivo_excel" accept=".xlsx">
                </form>
                <a href="{% url 'exportar_jugadores_pdf' %}?{{ query_string }}"
                    target="_blank"
                    class="a-options"
                    onclick="document.getElementById('input-categorias').click();">
                    <i class="bi bi-file-earmark-pdf" style="margin-right: 5px;"></i>
                    CARGA MASIVA DE JUGADORES
                </a>
                {% endif %}
                               
            </div>
        </div>
    </div>
    


<div class="tabla-wrapper">
        <table class="tabla-usuarios">
            <div>
                <div class="recuadro-tabla">  
    
                <form method="POST" id="form-nueva-categoria">
                    
                    {% csrf_token %}
                    <!-- Nivel -->
                    <div class="filtro-busqueda1">
                        <span class="span-filter" for="nivel" class="span-filter">NIVEL</span>
                        <input type="text" id="nivel" name="nivel" placeholder="Nivel"
                            class="form-control" required>
                    </div>
                
                    <!-- Edad -->
                    <div class="filtro-busqueda1">
                        <span class="span-filter" for="edad" class="span-filter">EDAD</span>
                        <input type="text" id="edad" name="edad" placeholder="Edad"
                            class="form-control" required>
                    </div>

                    <div class="filtro-busqueda1">
                        <span class="span-filter" class="form-label" for="tipo_juego">TIPO DE JUEGO</span>
                        <select name="tipo_juego" id="tipo_juego" class="form-select" required>
                            <option value="">-- SELECCIONE --</option>
                                <option value="Single">Single</option>
                                <option value="Doble">Doble</option>
                                <option value="-"></option>
                        </select>
                    </div>


                    <div class="filtro-busqueda1">
                        <span class="span-filter" class="form-label" for="genero">GENERO</span>
                        <select id="genero" name="genero" class="form-select" required>
                            <option value="">-- SELECCIONE --</option>
                                <option value="DAM">Dama</option>
                                <option value="CAB">Caballero</option>
                                <option value="MIX">Mixto</option>
                                <option value="-"></option>
                        </select>
                    </div>
  
                    <div style="display: flex; flex-direction: row; gap: 1rem">
                        <button class="btn-opciones" type="submit">GUARDAR </button>
                    </div>
                   
                </form>
            
        </div>
    </div>
</div>
<script>
    document.getElementById("form-nueva-categoria").addEventListener("submit", function (event) {
        event.preventDefault(); // Evita que el formulario se envíe normalmente
    
        let formData = new FormData(this); // Captura los datos del formulario
    
        fetch("{% url 'abm_categoria' %}", {  // Asegúrate de que la URL es correcta en urls.py
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest"  // 🔥 Indica que es una petición AJAX
            }
        })
        .then(response => response.json())  // 💡 Convertimos la respuesta a JSON
        .then(data => {
            if (data.success) {
                let modal = new bootstrap.Modal(document.getElementById('modalConfirmacionCategoria'));
                modal.show();
            } else {
                alert("❌ Error al guardar la categoría:\n" + JSON.stringify(data.errors));
            }
        })
        .catch(error => {
            console.error("Error:", error);
            alert("Hubo un problema con el servidor.");
        });
    });

// Inicio CARGA MASIVA - 101
    document.getElementById('input-archivo').addEventListener('change', function () {
        const archivo = this.files[0];
        const formData = new FormData();
        formData.append('archivo_excel', archivo);
    
        fetch("{% url 'carga_masiva_categoria' %}", {
            method: "POST",
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.exito) {
                document.getElementById('mensaje-carga').style.display = 'block';
            } else {
                alert('❌ Error al cargar:\n' + (data.error || 'Error desconocido'));
            }
        })
        .catch(error => {
            alert('❌ Error al procesar el archivo.');
            console.error(error);
        });
    });    
// Fin  CARGA MASIVA - 101
</script>

{% endblock %}
