{% extends "layout.html" %}
{% load static %}

{% block body_class %}fondo-secundario{% endblock %}

{% block content %}
<div class="container-admin">
    <h4>ADMINISTRADOR</h4>
    <div class="text-section">
        <hr class="separator-line">
        <h2>TORNEOS EXISTENTES</h2>
    </div>

    <!-- Contenedor Principal -->
    <div class="form-container d-flex gap-4 justify-content-between">
        <!-- Recuadro IZQUIERDO: CREAR TORNEO -->
        <div class="narrow-box flex-grow-1">
            <div class="title-orange-gris">
                <h1>CREAR TORNEO</h1>
                <h3 class="negro chico">INFORMACIÓN DEL TORNEO</h3>
            </div>
            
            <a href="{% url 'admin_menu' %}">
                <button class="login-button peque">MENU</button>
            </a>
            
            <hr class="separator">
            <form method="POST" action="{% url 'crear_torneo' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_nombre" class="form-label">Nombre del Torneo:</label>
                    {{ form.nombre }}
                </div>
                <div class="mb-3">
                    <label for="id_fecha_inicio" class="form-label">Fecha de Inicio:</label>
                    {{ form.fecha_inicio }}
                </div>
                <div class="mb-3">
                    <label for="id_fecha_fin" class="form-label">Fecha de Fin:</label>
                    {{ form.fecha_fin }}
                </div>
                <div class="mb-3">
                    <label for="id_categoria" class="form-label">Categorias:</label>
                    {{ form.categorias }}
                </div>
                <div class="mb-3">
                    <label for="id_tipo" class="form-label">Tipo:</label>
                    {{ form.tipo }}
                </div>
                <BR>
                <div class="text-center">
                    <button class="login-button chico" type="submit">Crear Torneo</button>
                </div>
            </form>
            
        </div>

        <!-- Recuadro DERECHO: TORNEOS GUARDADOS -->
        <div class="login-box listados flex-grow-1" style="padding: 5px; margin: 0; max-height: none; overflow: visible;">
            <table class="table table-striped table-light table-bordered table-sm">
                <thead class="table-success">
                    <tr>
                        <th>NOMBRE DEL TORNEO</th>
                        <th>RANKING</th>
                        <th>FECHA DE INICIO</th>
                        <th>FECHA DE FIN</th>
                        <th>MODIFICAR</th>
                        <th>JUGADORES / PARTIDOS</th>
                        <th>CARGAR PARTIDOS</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    {% if page_obj %}
                        {% for torneo in page_obj %}
                            <tr>
                                <td>{{ torneo.nombre }}</td>
                                <td>
                                    <button class="login-button mas-chico" style="color: white;">
                                        <a href="{% url 'listar_partidos' %}?torneo={{ torneo.id }}&jugador={{ jugador.dni }}">
                                            HISTORIAL
                                        </a>
                                    </button>
                                </td>
                                <td>{{ torneo.fecha_inicio|date:"d/m/y" }}</td>
                                <td>{{ torneo.fecha_fin|date:"d/m/y" }}</td>
                                <td>
                                    <a href="{% url 'abm_torneo_editar' torneo.id %}" class="btn btn-warning btn-sm text-center align-middle">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'datos_torneo' torneo.id %}" class="btn btn-info btn-sm" style="color:black">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'redirigir_partidos' torneo.id %}" class="btn btn-primary">
                                        <button type="button" class="login-button mas-chico mb-2" >PARTIDOS</button>
                                    </a>
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#eliminarModal-{{ torneo.id }}">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                    <div class="modal fade" id="eliminarModal-{{ torneo.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Torneo</h5>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <i class="bi bi-x" style="font-size: 1.5rem;"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Estás seguro de que deseas eliminar el torneo <strong>{{ torneo.nombre }}</strong>?
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="POST" action="{% url 'eliminar_torneo' torneo.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="login-button rojo delete-button">Eliminar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">No hay torneos guardados.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock %}
