{% extends "layout.html" %}    
{% block body_class %}fondo-secundario{% endblock %}
{% load custom_filters %}

{% block content %} 

<div class="container-admin">
    {% if user.is_authenticated %}
        <h4>ADMINISTRADOR</h4>
    {% else %}
        <h4>LIGA 2025</h4>
    {% endif %}
    <div class="text-section">
        <hr class="separator-line">
        <h5 style="font-size: 1rem; margin-top: 1rem; margin-bottom: 1rem;">ALTA DE JUGADOR</h5>
    </div>

     <!-- FILTROS -->
    <div class="recuadro-tabla">
        <div style="cursor: pointer;" class="green-box-title-btn">
            <h4 style="margin: 0; color: #cddf80;">FILTROS</h4>
        </div>
        <div class="form-container-torneos">
            <div class="container-form-filter">
                <div id="resultados">
                    <div class="filtro-busqueda1" style="margin-left: .8rem;">
                        <a class="a-options" href="{% url 'admin_menu' %}">
                            <i class="bi bi-box-arrow-right" style="margin-right: 5px;"></i>
                            MENÚ ADMINISTRADOR
                        </a>
                        <!-- {% if user.is_authenticated and user.is_staff %} -->
                        <!-- Inicio Carga Masiva de Jugadores 102-->     
                        <!-- <form id="form-carga-masiva-jugadores" enctype="multipart/form-data" style="display: none;">
                            {% csrf_token %}
                            <input type="file" id="input-jugadores" name="archivo_excel" accept=".xlsx">
                        </form>
                        <a
                            class="a-options"
                            onclick="document.getElementById('input-jugadores').click();">
                            <i class="bi bi-file-earmark-pdf" style="margin-right: 5px;"></i>
                            CARGA MASIVA DE JUGADORES
                        </a> -->
                        <!-- {% endif %} -->
                    </div>
                    <form method="POST" id="formNuevoJugador" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- Apellido -->
                        <div class="filtro-busqueda1">
                            <span class="span-filter" for="apellido" class="span-filter">APELLIDO</span>
                            <input type="text" name="apellido" id="apellido"
                                placeholder="Ingresar apellido"
                                class="form-control" required>
                        </div>

                        <!-- Nombre -->
                        <div class="filtro-busqueda1">
                            <span class="span-filter" for="nombre" class="span-filter">NOMBRE</span>
                            <input type="text" name="nombre" id="nombre"
                                placeholder="Ingresar nombre"
                                class="form-control" required>
                        </div>

                        <!-- Sexo -->
                        <div class="filtro-busqueda1">
                            <span for="sexo" class="span-filter">SEXO</span>
                            <select name="sexo" id="sexo" class="form-select" required>
                                <option value="">-- Seleccionar --</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                        {% csrf_token %}
                        <div class="container-cat">
                            <span class="span-filter" style="margin-bottom: .5rem;">CATEGORÍAS</span>
                            <div class="categorias-box">
                                <ul>
                                    {% for checkbox in form.categorias|dictsort:"choice_label" %}
                                        <li>
                                            {{ checkbox.tag }}
                                            <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; gap: 1rem">
                            <button class="btn-opciones" type="submit">GUARDAR JUGADOR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById("formNuevoJugador").addEventListener("submit", function (event) {
    const checkboxes = document.querySelectorAll("input[name='categorias']:checked");
    if (checkboxes.length === 0) {
        event.preventDefault();
        alert("⚠️ Debe seleccionar al menos una categoría.");
    }
});

document.getElementById('input-jugadores').addEventListener('change', function () {
    const archivo = this.files[0];
    const formData = new FormData();
    formData.append('archivo_excel', archivo);

    fetch("{% url 'carga_masiva_jugadores' %}", {
        method: "POST",
        body: formData,
        headers: {
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.exito) {
            document.getElementById('mensaje-carga-jugadores').style.display = 'block';
        } else {
            alert('❌ Error al cargar jugadores:\n' + (data.error || ''));
        }
    })
    .catch(error => {
        alert('❌ Error al procesar el archivo de jugadores.');
        console.error(error);
    });
});
</script>
{% endblock %}
