{% extends "layout.html" %}

{% block body_class %}fondo-secundario{% endblock %}
{% block content %}
<div class="container-admin">
    <h4>ADMINISTRADOR </h4>
    <div class="text-section">
        <hr class="separator-line"> <!-- Línea separadora -->
        <h5>GESTIÓN TORNEOS DE TENIS</h5>
        <div class="text-section">
            <hr class="separator-line"> <!-- Línea separadora -->
            <h2>OPCIONES</h2>
        </div>

        <!-- Contenedor para los recuadros -->
        <div class="recuadros-container">
            <!-- Primer recuadro: JUGADORES -->
            <div class="recuadro">
                <div class="login-box">
                    <div class="title-orange-box">
                        <h2>JUGADORES</h2>
                    </div>
                    <h3 class="negro">BUSCAR POR JUGADOR</h3>
                    <form method="GET" action="{% url 'listado_jugadores' %}" class="d-flex align-items-center mb-3">
                        <input class="input-field" type="text" name="search" placeholder="Buscar por nombre o apellido" value="{{ search }}">
                        <button class="login-button-gris chico ms-2" type="submit">Buscar</button>
                    </form>
                    <hr class="separator">
                    <h3>CARGAR NUEVO JUGADOR</h3>
                    <a href="{% url 'admin_carga_jugador' %}">
                        <button class="login-button">ALTA</button>
                    </a>
                    <hr class="separator">
                    <a href="{% url 'listado_jugadores' %}">
                        <button class="login-button-gris">Listado completo</button>
                    </a>
                </div>
            </div>

            <!-- Segundo recuadro: Ranking -->
            <div class="recuadro">
                <div class="login-box">
                    <div class="title-orange-box">
                        <h2>RANKING</h2>
                    </div>
                   <br>
                    <h3>LISTADO COMPLETO</h3>
                    <a class="nav-link" href="{% url 'ranking_general' %}">
                        <button class="login-button">Aceptar</button>
                    </a>
                    
                </div>
            </div>
        </div>

        <!-- Contenedor para los recuadros 2 -->
        <div class="recuadros-container">
            <!-- Primer recuadro: GESTIÓN -->
            <div class="recuadro">
                <div class="login-box">
                    <div class="title-orange-box">
                        <h2>GESTIÓN</h2>
                    </div>
                    <h3>NUEVA CATEGORÍA</h3>
                    <a href="{% url 'abm_categoria' %}">
                        <button class="login-button">ALTA</button>
                    </a>
                    <hr class="separator">
                    <a href="{% url 'listados_categorias' %}">
                        <button class="login-button-gris">Listado completo</button>
                    </a>
                    <hr class="separator">
                    <h3>NUEVA CANCHA</h3>
                    <a href="{% url 'abm_cancha' %}">
                        <button class="login-button">ALTA</button>
                    </a>
                    <hr class="separator">
                    <a href="{% url 'listado_canchas' %}">
                        <button class="login-button-gris">Listado completo </button>
                    </a>
                </div>
            </div>

            <!-- Segundo recuadro: PARTIDOS -->
            <div class="recuadro">
                <div class="login-box">
                    <div class="title-orange-box">
                        <h2>TORNEOS Y PARTIDOS</h2>
                    </div>
                    <br>
                    <h3>INGRESAR</h3>
                    <a href="{% url 'crear_torneo' %}">
                        <button class='login-button'>TORNEOS</button>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
