{% extends "layout.html" %}
{% block body_class %}fondo-secundario{% endblock %}

{% block content %}
<div class="container-admin">
    <h4>ADMINISTRADOR</h4>
    <div class="text-section">
        <hr class="separator-line">
        <h5 style="font-size: 1rem; margin-top: 1rem;">GESTIÓN TORNEOS DE TENIS</h5>
    </div>

    <div class="recuadro-tabla-admin">
        <!-- Paginación + Filtros de Género -->
        <div class="green-box-table">
            <h4 style="margin: .5rem auto; font-weight: 500;">PANEL DE CONTROL</h4>
        </div>
        <div class="tabla-wrapper">
            <table class="tabla-usuarios" style="table-layout: fixed; width: 100%;">
                <thead>
                    <tr>
                        <th>SECCIÓN</th>
                        <th>VER DETALLE</th>
                        <th>ALTA</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- JUGADORES -->
                    <tr>
                        <td>JUGADORES</td>
                        <td>
                            <a href="{% url 'listado_jugadores' %}" title="Listado completo" class="btn-edit">
                                <i class="bi bi-list-ul" style="font-size: 1.3rem;"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'admin_carga_jugador' %}" title="Alta jugador" class="btn-info">+</a>
                        </td>
                    </tr>

                    <!-- RANKING -->
                    <tr>
                        <td>RANKING</td>
                        <td>
                            <a href="{% url 'ranking_general' %}" title="Listado completo" class="btn-edit">
                                <i class="bi bi-list-ul" style="font-size: 1.3rem;"></i>
                            </a>
                        </td>
                        <td></td>
                    </tr>

                    <!-- CATEGORÍA -->
                    <tr>
                        <td>CATEGORÍA</td>
                        <td>
                            <a href="{% url 'listados_categorias' %}" title="Listado completo" class="btn-edit">
                                <i class="bi bi-list-ul" style="font-size: 1.3rem;"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'abm_categoria' %}" title="Alta categoría" class="btn-info">+</a>
                        </td>
                    </tr>

                    <!-- SEDE -->
                    <tr>
                        <td>SEDE</td>
                        <td>
                            <a href="{% url 'listado_sedes' %}" title="Listado completo" class="btn-edit">
                                <i class="bi bi-list-ul" style="font-size: 1.3rem;"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'abm_sede' %}" title="Alta sede" class="btn-info">+</a>
                        </td>
                    </tr>

                    <!-- CANCHA -->
                    <tr>
                        <td>CANCHA</td>
                        <td>
                            <a href="{% url 'listado_canchas' %}" title="Listado completo" class="btn-edit">
                                <i class="bi bi-list-ul" style="font-size: 1.3rem;"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'abm_cancha' %}" title="Alta cancha" class="btn-info">+</a>
                        </td>
                    </tr>

                    <!-- GESTIÓN DE TORNEOS -->
                    <tr>
                        <td>GESTIÓN DE TORNEOS</td>
                        <td>
                            <a href="{% url 'crear_torneo' %}" title="Ingresar" class="btn-edit">
                                <i class="bi bi-list-ul" style="font-size: 1.3rem;"></i>
                            </a>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
