{% extends "layout.html" %}

{% block body_class %}fondo-secundario{% endblock %}
{% block content %}
<div class="container-admin">
    <h4>ADMINISTRADOR </h4>
    <div class="text-section">
        <hr class="separator-line"> <!-- Línea separadora -->
        <h5 style="font-size: 1rem; margin-top: 1rem;">GESTIÓN TORNEOS DE TENIS</h5>
        <!-- <div class="text-section">
            <hr class="separator-line">
            <h2>OPCIONES</h2>
        </div> -->

        <!-- Contenedor para los recuadros -->
        <div class="recuadros-container">
            <div class="recuadro">
                <div class="green-box">
                    <h2>JUGADORES</h2>
                </div>

                <div class="recuadro-1">
                    <form method="GET" action="{% url 'listado_jugadores' %}" class="recuadro-2">
                        <h3 class="blanco">BUSCAR POR JUGADOR</h3>
                        <input id="searchInput" class="input-admin" type="text" name="search" placeholder="Buscar por nombre o apellido" value="{{ search }}">
                        <button class="btn-custom btn-gris" type="submit">BUSCAR</button>
                    </form>
                    <!-- <ul id="suggestions" style="display:none;"></ul> -->
                    <div class="recuadro-2">
                        <h3 class="blanco">CARGAR NUEVO JUGADOR</h3>
                        <a href="{% url 'admin_carga_jugador' %}">
                            <button class="btn-custom btn-verde">ALTA</button>
                        </a>                   
                    </div>
                    <div class="recuadro-2">
                        <h3 class="blanco">LISTADO COMPLETO</h3>
                        <a href="{% url 'listado_jugadores' %}">
                            <button class="btn-custom btn-gris">VER</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Ranking -->
            <div class="recuadro">
                <div class="green-box">
                    <h2>RANKING</h2>
                </div>
                <div class="d-flex flex-column align-items-center mb-3">
                    <h3 class="blanco">LISTADO COMPLETO</h3>
                    <a class="nav-link" href="{% url 'ranking_general' %}">
                        <button class="btn-custom btn-gris">VER</button>
                    </a>
                </div>
            </div>

        
            <!-- GESTIÓN -->
            <div class="recuadro">
                <div class="green-box">
                    <h2>GESTIÓN</h2>
                </div>

                <div class="recuadro-1">
                    <div class="recuadro-2">
                        <h3 class="blanco">CATEGORÍA</h3>
                        <a href="{% url 'abm_categoria' %}">
                            <button class="btn-custom btn-verde">ALTA</button>
                        </a>
                        <a href="{% url 'listados_categorias' %}">
                            <button class="btn-custom btn-gris">LISTADO COMPLETO</button>
                        </a>
                    </div>

                    <div class="recuadro-2">
                        <h3 class="blanco">SEDE</h3>
                        <a href="{% url 'abm_sede' %}">
                            <button class="btn-custom btn-verde">ALTA</button>
                        </a>
                        <a href="{% url 'listado_sedes' %}">
                            <button class="btn-custom btn-gris">LISTADO COMPLETO</button>
                        </a>
                    </div>

                    <div class="recuadro-2">
                        <h3 class="blanco">CANCHA</h3>
                        <a href="{% url 'abm_cancha' %}">
                            <button class="btn-custom btn-verde">ALTA</button>
                        </a>
                        <a href="{% url 'listado_canchas' %}">
                            <button class="btn-custom btn-gris">LISTADO COMPLETO</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- PARTIDOS -->
            <div class="recuadro">
                <div class="green-box">
                    <h2>GESTIÓN DE TORNEOS</h2>
                </div>
                <div class="d-flex flex-column align-items-center mb-3">
                    <h3 class="blanco">INGRESAR</h3>
                    <a class="nav-link" href="{% url 'crear_torneo' %}">
                        <button class='btn-custom btn-gris'>OK</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
