{% extends "layout.html" %}
{% load static %}

{% block body_class %}fondo-secundario{% endblock %}

{% block content %}

<div class="container-admin">
    <h4>ADMINISTRADOR</h4>
    <div class="text-section">
        <hr class="separator-line">
        <h5 style="font-size: 1rem; margin-top: 1rem; margin-bottom: .5rem;">ANOTAR JUGADORES AL TORNEO:</h5>
        <h4 style="margin-top: 0; margin-bottom: 2rem;">{{ torneo.nombre }}</h4>
    </div>

    <!-- OPCIONES -->
    <div id="toggle-crear" class="recuadro-tabla" style="margin-bottom: 2rem;">

        <div style="cursor: pointer;" class="green-box-title-btn"><h4 style="margin: 0;">OPCIONES</h4></div>
        <div id="form-crear" class="hidden" class="form-container-torneos hidden">    
            <div style="display: inline-block; text-align: start; align-items: center; justify-content: center; margin: auto auto;"> 
                <span class="span-filter">BUSCAR POR JUGADOR</span>
                <form method="GET" action="" class="d-flex align-items-center mb-3" style="gap: 10px;">
                    <div class="filtro-busqueda1" style="margin-bottom: .5rem !important;">
                        <input class="input-field form-control" type="text" name="search" placeholder="Buscar por nombre o apellido" value="{{ search }}">
                        <button type="submit" class="btn-lupa"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <div>
                    <a class="a-options" href="{% url 'crear_torneo' %}" style="margin-bottom: 1rem;">
                        <i class="bi bi-arrow-left"></i>
                        VOLVER A GESTIÓN DE TORNEOS
                    </a>
                </div>
            </div>    
        </div>
    </div>

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <div>
                <div class="botones-jugadores">
                    <button class="btn-carga-masiva" type="button" onclick="moveSelected('availableBox', 'selectedBox', event)">
                        Agregar al Listador &gt;&gt;
                    </button>
                    <button class="btn-carga-masiva" type="button" onclick="moveSelected('selectedBox', 'availableBox', event)">
                        &lt;&lt;  Quitar del Listado
                    </button>
                </div>

                <div class="botones-jugadores">
                    <button class="btn-crear" type="submit" name="action" value="asociar">
                        Confirmar Jugadores Anotados
                    </button>
                    <button class="btn-delete1" type="submit" name="action" value="desasociar">
                        Eliminar Jugadores Anotados
                    </button>
                </div>
            </div>

            <div class="contenedor-jugadores">
                <!-- Recuadro Izquierdo: Jugadores Disponibles -->
                <div class="bloque-jugadores">
                    <div class="titulo-jugadores">
                        <h4 style="margin: 0;">JUGADORES DISPONIBLES</h4>
                    </div>
                <div class="lista-jugadores"  id="availableBox">
                        {% for jugador in jugadores_disponibles %}
                            <div class="form-check" style="text-align:left;">
                                <input class="form-check-input" type="checkbox" value="{{ jugador.dni }}" id="jugador{{ jugador.dni }}" name="jugadores">
                                <label class="form-check-label" for="jugador{{ jugador.dni }}">
                                    {{ jugador.apellido | upper}}  {{ jugador.nombre |capfirst }}
                                </label>
                            </div>
                        {% empty %}
                            <p>No hay jugadores disponibles para este torneo.</p>
                        {% endfor %}
                    </div>
                </div>

                <!-- Recuadro Derecho: Jugadores Seleccionados -->
                <div class="bloque-jugadores">
                    <div class="titulo-jugadores">
                        <h4 style="margin: 0;">JUGADORES ANOTADOS</h4>
                    </div>
                    <div class="lista-jugadores"  id="selectedBox">
                        {% for jugador in jugadores_asociados %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ jugador.dni }}" id="jugadorSeleccionado{{ jugador.dni }}" name="jugadores_seleccionados">
                                <label class="form-check-label" for="jugadorSeleccionado{{ jugador.dni }}">
                                    {{ jugador.apellido  | upper}} {{ jugador.nombre |capfirst}}
                                </label>
                            </div>
                        {% empty %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- JavaScript para Manejar el Movimiento de Jugadores -->
<script>
    function moveSelected(sourceBoxId, destinationBoxId, event) {
        if (event) event.preventDefault();  // Previene el envío del formulario si ocurre accidentalmente.

        const sourceBox = document.getElementById(sourceBoxId);
        const destinationBox = document.getElementById(destinationBoxId);

        const selectedCheckboxes = sourceBox.querySelectorAll('input[type="checkbox"]:checked');

        selectedCheckboxes.forEach(function(checkbox) {
            const newDiv = document.createElement('div');
            newDiv.classList.add('form-check');

            const newCheckbox = document.createElement('input');
            newCheckbox.classList.add('form-check-input');
            newCheckbox.type = 'checkbox';
            newCheckbox.value = checkbox.value;
            newCheckbox.name = sourceBoxId === 'availableBox' ? 'jugadores' : 'jugadores_seleccionados';
            newCheckbox.checked = true;

            const newLabel = document.createElement('label');
            newLabel.classList.add('form-check-label');
            newLabel.textContent = checkbox.nextElementSibling.textContent;

            newDiv.appendChild(newCheckbox);
            newDiv.appendChild(newLabel);

            destinationBox.appendChild(newDiv);
            checkbox.parentElement.remove();
        });
    }
</script>

{% endblock %}
