{% extends "layout.html" %}
{% load static %}
{% block body_class %}fondo-secundario{% endblock %}
{% block content %}
<div class="container-admin">

    <h4>ADMINISTRADOR</h4>
    <div class="text-section">
        <hr class="separator-line">
        <h5 style="font-size: 1.1rem; margin-top: 1rem; font-weight: 700;">GESTIÓN DE TORNEO: {{ torneo.nombre | upper }}</h5>
    </div>
    <!-- INFO E INSCRIPTOS -->
    <div class="recuadro-tabla">
        <div id="toggle-descarga" style="cursor: pointer;" class="green-box-title-btn">
            <h4 style="margin: 0; cursor: pointer;">
                <!-- <span style="font-size: .7rem; font-weight: 400; letter-spacing: 2px;">VER INFORMACIÓN: </span> -->
                INFORMACIÓN DEL TORNEO
            </h4>
        </div>
        <div id="form-descarga" class="form-container-info hidden">
            <div class="btn-filtros">
                <div class="btn-opciones">
                    <a href="{% url 'redirigir_inscripcion' torneo.id %}">INSCRIBIR JUGADORES</a>
                </div>
                <div class="btn-opciones">
                    <!-- href="{% url 'ver_ranking' torneo.id %}" -->
                    <a href="{% url 'ver_ranking' torneo.id %}">VER RANKING</a>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: start;text-align: start; margin-top: 1rem;">
                <span class="span-filter">Fecha de Inicio: {{ torneo.fecha_inicio|date:"d/m/Y" }}</span>
                {% if torneo.fecha_fin %}
                <span class="span-filter">Fecha de Fin: {{ torneo.fecha_fin|date:"d/m/Y" }}</span>
                {% endif %}
                <span class="span-filter">Categoría/s:
                    {% for categoria in torneo.categorias.all %}
                        {{ categoria.tipo_juego }}-{{ categoria.genero }}-{{ categoria.nivel }}-{{ categoria.edad }}
                        {% if not forloop.last %} | {% endif %}
                    {% endfor %}
                </span>
                <span class="span-filter">
                    {% if torneo.tipo_juego == "Doble" %}
                        Tipo de Juego: Doble
                    {% else %}
                        Tipo de Juego: Individual
                    {% endif %}
                </span>
            </div>
            <span class="span-filter" style="margin-top: 1rem; text-align: start;">
               INSCRIPTOS ACTUALES:
            </span>
            <div class="torneo-listado">
                {% if torneo.equipos.exists %}
                    <!-- DOBLES -->
                    <ul>
                        {% for equipo in torneo.equipos.all %}
                            <li class="{% if equipo.jugador1.estado == 'DEL' %}estado-deleted{% elif equipo.jugador1.estado == 'INA' %}estado-inactive{% endif %}">
                                {{ equipo.jugador1.apellido | upper }}
                                {% if equipo.jugador1.estado == "INA" %}(Inactivo){% elif equipo.jugador1.estado == "DEL" %}(Eliminado){% endif %}
                                y 
                                {{ equipo.jugador2.apellido | upper }}
                                {% if equipo.jugador2.estado == "INA" %}(Inactivo){% elif equipo.jugador2.estado == "DEL" %}(Eliminado){% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% elif torneo.torneo_jugadores.exists %}
                    <!-- SINGLES -->
                    <ul class="list-group list-group-flush">
                        {% for torneo_jugador in torneo.torneo_jugadores.all %}
                            <li class="list-group-item fs-5 {% if torneo_jugador.jugador.estado == 'DEL' %}estado-deleted{% elif torneo_jugador.jugador.estado == 'INA' %}estado-inactive{% endif %}">
                                {{ torneo_jugador.jugador.apellido | upper }} {{ torneo_jugador.jugador.nombre | capfirst }}
                                {% if torneo_jugador.jugador.estado == "INA" %}(Inactivo){% elif torneo_jugador.jugador.estado == "DEL" %}(Eliminado){% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="fs-5">No hay jugadores inscriptos.</p>
                {% endif %}
            </div>
        </div>    
    </div>  
    <!-- CARGA DE PARTIDOS -->
    {% if es_doble %}
        {% include 'partidoDoble.html' %}
    {% else %}
        {% include 'partidoSingle.html' %}
    {% endif %}
    <!-- TABLA DE PARTIDOS PROGRAMADOS -->
    {% include 'partidos_por_torneo.html' %}
</div>
{% endblock %}
