{% extends "layout.html" %}    
{% block body_class %}fondo-secundario{% endblock %}
{% load static %}

{% block content %} 
<div>
    <div class="title-bar">
        <h2>DATOS JUGADOR</h2>
    </div>
    <main>
        <section class="player-info">
            <div class="player-card ancho">
                <div class="player-photo">
                    <!-- Aquí va la foto del jugador -->
                </div>
                <div class="player-details">
                    <div class="player-name">
                        <img src="{% static 'imagenes/pelota.png' %}" alt="Pelota" class="pelota">
                        <h3 class="nombre-jugador"><strong>{{ jugador.apellido }}</strong></h3>
                        <h3 class="nombre-jugador"><strong>{{ jugador.nombre }}</strong></h3>
                    </div>
                    <div class="player-data">
                        <p class="texto-gris naranja"><strong>Datos</strong></p>
                        <hr>
                       
                    </div>
                </div>
                <div class="player-stats"> <!-- Nuevo contenedor a la derecha -->
                    <h4><strong style="color: black;">CATEGORIA</strong></h4>
                    <p>{{ jugador.categoria }}</p>
                    <h4><strong style="color: black;">PUNTUACION</strong></h4>
                    <p>{{ jugador.puntuacion }}</p>
                    <h4><strong style="color: black;">RANKING</strong></h4>
                    <p>{{ jugador.ranking }}</p>
                </div>
            </div>
        </section>
        <div class="history-item">
            <div class="details-box">
                <p><strong>DNI:</strong> {{ jugador.dni }}</p>
                <p><strong>Sexo:</strong> {{ jugador.sexo }}</p>
            </div>
        </div>
        <p class="p-centrado naranja"><strong>Historial</strong></p> 
                            
            <div class="history-item">
                <div class="player-data">
                    <p class="texto-naranja"><strong>Categoria</strong></p>
                    <hr>
                    <p class="texto-negro">##anterior Single Hombres</p>
                </div>     
                <div class="player-data">
                    <p class="texto-naranja"><strong>Posición</strong></p>
                    <hr>
                    <p class="texto-negro">##anterior</p>
                </div>             
            </div>
            <div class="history-item">
                <div class="player-data">
                    <p class="texto-naranja"><strong>Categoria</strong></p>
                    <hr>
                    <p class="texto-negro">##anterior Single Hombres</p>
                </div>     
                <div class="player-data">
                    <p class="texto-naranja"><strong>Posición</strong></p>
                    <hr>
                    <p class="texto-negro">##anterior</p>
                </div>             
            </div>
      

        <p class="p-centrado naranja"><strong>Partidos Jugados</strong></p>
        <div class="narrow-box largo" style="display: inline-block; margin-right: 20px;">
            <div class="info-header" style="background-color: black; color: white; padding: 10px; display: flex; justify-content: space-between;">
                <p><strong>Categoría:</strong> 4° + 30</p>
                <p><strong>Fecha:</strong> 20/09/2024</p>
            </div>
            <div class="match izquierda" style="text-align: left;">
                <p class="jugador">Franco Corva&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;6</p>
                <p class="jugador">Tomas Servan&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;1</p>
            </div>
        </div>
        
        <div class="narrow-box largo" style="display: inline-block;">
            <div class="info-header" style="background-color: black; color: white; padding: 10px; display: flex; justify-content: space-between;">
                <p><strong>Categoría:</strong> 4° + 30</p>
                <p><strong>Fecha:</strong> 21/09/2024</p>
            </div>
            <div class="match izquierda" style="text-align: left;">
                <p class="jugador">Juan Perez&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;5&nbsp;&nbsp;&nbsp;&nbsp;6</p>
                <p class="jugador">Pedro Lopez&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;7&nbsp;&nbsp;&nbsp;&nbsp;2</p>
            </div>
        </div>
        
        
        
        <div class="actions" style="margin-bottom: 100px; margin-top: 50px">
            <button class="login-button ">MODIFICAR</button>
            <br>
             <!-- Botón BORRAR con clase 'delete-button' -->
             <a href="{% url 'borrar_jugador' jugador.dni %}" class="login-button rojo delete-button">BORRAR</a>
        
        
            </div>
    </main>
</div>
<script>
    document.querySelector('.delete-button').addEventListener('click', function(event) {
        event.preventDefault(); // Evitar el comportamiento por defecto del botón
        const jugadorDni = {{ jugador.dni }}; // Obtiene el DNI del jugador
        const jugadorApellido = "{{ jugador.apellido }}"; // Obtiene el apellido del jugador
    
        // Mostrar ventana de confirmación con el apellido
        if (confirm(`¿Desea borrar al jugador ${jugadorApellido}?`)) {
            // Si el usuario confirma, redirigir a la vista de eliminación
            window.location.href = `/borrado_exitoso/${jugadorDni}/`; // Esta URL no mostrará el host en la ventana emergente
        }
    });
    </script>
    

{% endblock %}
