{% extends "layout.html" %}
{% load static %}

{% block body_class %}fondo-secundario{% endblock %}

{% block content %}
<div class="container-admin">
    <h4>ADMINISTRADOR</h4>
    <div class="text-section">
        <hr class="separator-line">
        <h2 class="text-primary">Características del Torneo: {{ torneo.nombre }}</h2>
    </div>
    <div class="text-section">
        <hr class="separator-line">
    </div>
    <br>
    <!-- Información del Torneo -->
    <div class="form-container">
        <div class="narrow-box">
            <div class="title-orange-gris">
                <h1>INFORMACIÓN DEL TORNEO</h1>
            </div>
            <a href="{% url 'admin_menu' %}">
                <button class="login-button peque">MENU</button>
            </a>
            <hr class="separator-line">
            <div class="card-body p-2">
                <p class="fs-6 mb-1"><strong>Torneo</strong> <br>{{ torneo.nombre | upper}}</p>
                <hr class="separator-line">
                <p class="fs-6 mb-1"><strong>Fecha de Inicio</strong><br> {{ torneo.fecha_inicio|date:"d/m/Y" }}</p>
                <hr class="separator-line">
                <p class="fs-6 mb-1"><strong>Fecha de Fin</strong><br> {{ torneo.fecha_fin|date:"d/m/Y" }}</p>
                <hr class="separator-line">
                <p class="fs-6 mb-1"><strong>Categorías Juegan</strong>
                    {% for categoria in torneo.categorias.all %}
                        {{ categoria.nivel }} + {{ categoria.edad }} + {{ categoria.tipo_juego }}
                        {% if not forloop.last %} | {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>

        <div class="login-box listados">
            <div class="title-orange-box grande">
                <h2>
                    {% if torneo.tipo_juego == "Doble" %}
                        EQUIPOS ASOCIADOS
                    {% else %}
                        JUGADORES INSCRIPTOS
                    {% endif %}
                </h2>
            </div>
            
            <div class="card-body">
                {% if torneo.equipos.exists %}
                    <!-- Mostrar equipos -->
                    <ul class="list-group list-group-flush">
                        {% for equipo in torneo.equipos.all %}
                            <li class="list-group-item fs-5">
                                Equipo: {{ equipo.jugador1.apellido | upper }} y {{ equipo.jugador2.apellido | upper }}
                            </li>
                        {% endfor %}
                    </ul>
                {% elif torneo.torneo_jugadores.exists %}
                    <!-- Mostrar jugadores -->
                    <ul class="list-group list-group-flush">
                        {% for torneo_jugador in torneo.torneo_jugadores.all %}
                            <li class="list-group-item fs-5">
                                {{ torneo_jugador.jugador.apellido | upper }} {{ torneo_jugador.jugador.nombre | capfirst }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <!-- Sin inscripciones -->
                    <p class="fs-5">No hay inscripciones asociadas a este torneo.</p>
                {% endif %}
            </div>
        </div>
        

            <!-- Botones de Acción -->
            <div class="d-flex justify-content-start align-items-center gap-3 mb-4">
                <a href="{% url 'redirigir_inscripcion' torneo.id %}" class="btn btn-success">
                    <button type="button" class="login-button chico mb-2" style="margin-top: 80px;">INSCRIBIR </button>
                </a>
                <a href="{% url 'redirigir_partidos' torneo.id %}" class="btn btn-primary">
                    <button type="button" class="login-button chico mb-2" style="margin-top: 80px;">PARTIDOS</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
