{% extends "layout_inicio.html" %}
{% load static %}

{% block content %}
<div>
    
<section class="hero-section">
    <div class="logo fade-in">
        <img src="{% static 'imagenes/logo apur.png' %}" alt="Logo">
    </div>
    <div class="hero-overlay">
      <h1 class="hero-title">Bienvenidos </h1>
      <p class="hero-subtitle">Te ofrecemos mucho más que canchas.<br>
        Te damos una experiencia completa para que disfrutes del tenis en todas sus formas.
      </p>
      <a href="{% url 'liga_publico' %}" class="hero-button">LIGA</a>
    </div>
</section>

<div>
  <section class="cards-container">
      <div class="card-box card">
        <img src="{% static 'imagenes/pelota.png' %}" alt="Icono 1" id="alquiler-canchas">
        <h5>ALQUILERES</h5>
        <p class="animar-aparecer">
          ¿Querés jugar con amigos o entrenar por tu cuenta? 
          Te ofrecemos alquiler de canchas de tenis de excelente calidad, 
          con disponibilidad flexible y atención personalizada.
        </p>
        <div>
            <a class="action-card" href="https://wa.me/5493413006495" target="_blank">RESERVAR</a>
        </div>
      </div>
      <div class="card-box card">
        <img src="{% static 'imagenes/pelota.png' %}" alt="Icono 2">
        <h5>CLASES</h5>
        <p class="animar-aparecer">
          Contamos con clases grupales y particulares para adultos, 
          adaptadas a todos los niveles. Ya sea que estés dando tus primeros pasos o 
          busques perfeccionar tu técnica, nuestros profesores te guiarán en un 
          ambiente dinámico y personalizado.
        </p>
        <div>
            <a class="action-card" href="https://wa.me/5493413006495" target="_blank">CONSULTAR</a>
        </div>
      </div>
      <div class="card-box card">
        <img src="{% static 'imagenes/pelota.png' %}" alt="Icono 3">
        <h5>REPARACIONES</h5>
        <p class="animar-aparecer">
          En Apur confiamos en Cancha Lista Reparaciones,
          un servicio profesional especializado en el mantenimiento y 
          reparación de canchas de polvo de ladrillo, 
          con amplia trayectoria en Rosario y zonas aledañas.
        </p>
        <div>
            <a class="action-card" href="https://wa.me/5493413006495" target="_blank">CONTRATAR</a>
        </div>
      </div>
  </section>

  <!-- liga -->
  <section id="intro1" class="section-block section-liga">
    <div class="title">LIGA</div>
    <div class="introBox-liga">
      <p class="introInfoB">¡Competí, divertite y viví el tenis con intensidad!</p>
      <p class="introTitleB animar-aparecer">Participá de nuestras ligas abiertas...</p>
      <p class="introInfoB ">
      <strong>Singles</strong> y <strong>Dobles</strong> para Damas y Caballeros, además de encuentros de Dobles Mixtos.</p>
    </div>
    <div class="hero-overlay1">
      <a href="{% url 'liga_publico' %}" class="hero-button1">LIGA</a></li>
      <a href="https://wa.me/5493413006495" target="_blank" class="hero-button1">INSCRIBITE</a>
    </div>
    <br>
    <div class="img-duo">
      <div class="img-box" style="background-image: url('{% static "imagenes/IMG_3262.JPG" %}');">
        <div class="img-overlay">DAMAS</div>
      </div>
      <div class="img-box" style="background-image: url('{% static "imagenes/IMG_6911.JPG" %}');">
        <div class="img-overlay">CABALLEROS</div>
      </div>
    </div>
    <div class="img-duo">
      <div class="img-box" style="background-image: url('{% static "imagenes/IMG_8595.JPG" %}');">
      </div>
    </div>
  </section>

  <section id="intro2" class="section-block section-interclubes">
    <div class="title">INTERCLUBES</div>
    <div class="container-sinfondo">

						
      <div class="introBox ">
        <p class="introTitle animar-aparecer "><strong>Apur </strong>compite activamente desde hace años 
       </p>
       <p class="introInfo .introInfo-gris">
       en los torneos interclubes organizados por la <strong>ART</strong>
      </p>
      </div>
     
      <!-- Image -->
			<div class="imagen-detalle">
        <img src="{% static 'imagenes/IMG_8663.JPG' %}" alt="Detalle imagen">
      </div>

      <p class="introTitle animar-aparecer "><strong></strong>Participaciones
       </p>

     
       <p class="introInfo .introInfo-gris">Somos protagonista temporada tras temporada. 
          <br>Nuestro complejo ha logrado destacarse ubicándose 
          entre los primeros puestos 
       </p>   
      <div class="feature-grid">
        <div class="feature-item">
          <div class="icon-svg">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="copa-svg">
              <path fill="white" d="M458 64h-42V48c0-8.8-7.2-16-16-16H112c-8.8 0-16 7.2-16 16v16H54c-6.6 0-12 5.4-12 12v60c0 54.3 39.7 99.3 91.6 106.9 6.2 30.2 25.2 55.6 51.3 69.7v44.1c0 17.8-11.6 33.7-28.6 39.3l-45.6 15.2c-6.6 2.2-11.2 8.4-11.2 15.5V464c0 8.8 7.2 16 16 16h256c8.8 0 16-7.2 16-16v-13.3c0-7.1-4.5-13.3-11.2-15.5l-45.6-15.2c-17-5.7-28.6-21.5-28.6-39.3v-44.1c26.1-14.1 45.1-39.5 51.3-69.7 51.9-7.6 91.6-52.6 91.6-106.9V76c0-6.6-5.4-12-12-12zM70 136v-44h26v81.6C80 166.8 70 152.6 70 136zm372 0c0 16.6-10 30.8-26 37.6V92h26v44z"/>
            </svg>
          </div>
          <h4 class="feature-title">Copa Average</h4>
          <p>Ganador por 4 veces consecutivas de la copa para clubes de menos de 10 canchas</p>
        </div>

        <div class="feature-item">
          <div class="icon-svg">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="copa-svg">
              <path fill="white" d="M458 64h-42V48c0-8.8-7.2-16-16-16H112c-8.8 0-16 7.2-16 16v16H54c-6.6 0-12 5.4-12 12v60c0 54.3 39.7 99.3 91.6 106.9 6.2 30.2 25.2 55.6 51.3 69.7v44.1c0 17.8-11.6 33.7-28.6 39.3l-45.6 15.2c-6.6 2.2-11.2 8.4-11.2 15.5V464c0 8.8 7.2 16 16 16h256c8.8 0 16-7.2 16-16v-13.3c0-7.1-4.5-13.3-11.2-15.5l-45.6-15.2c-17-5.7-28.6-21.5-28.6-39.3v-44.1c26.1-14.1 45.1-39.5 51.3-69.7 51.9-7.6 91.6-52.6 91.6-106.9V76c0-6.6-5.4-12-12-12zM70 136v-44h26v81.6C80 166.8 70 152.6 70 136zm372 0c0 16.6-10 30.8-26 37.6V92h26v44z"/>
            </svg>
          </div>

          <h4 class="feature-title">Campeon Copa Federación</h4>
          <p>Al club de mayor puntaje obtenido en los equipos de primera</p>
        </div>
      </div>

      
    </div>

    <hr class="linea-separadora">

    <div class="feature-grid">
        <div class="feature-item">
          <div class="icon-svg">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="copa-svg">
              <path fill="white" d="M458 64h-42V48c0-8.8-7.2-16-16-16H112c-8.8 0-16 7.2-16 16v16H54c-6.6 0-12 5.4-12 12v60c0 54.3 39.7 99.3 91.6 106.9 6.2 30.2 25.2 55.6 51.3 69.7v44.1c0 17.8-11.6 33.7-28.6 39.3l-45.6 15.2c-6.6 2.2-11.2 8.4-11.2 15.5V464c0 8.8 7.2 16 16 16h256c8.8 0 16-7.2 16-16v-13.3c0-7.1-4.5-13.3-11.2-15.5l-45.6-15.2c-17-5.7-28.6-21.5-28.6-39.3v-44.1c26.1-14.1 45.1-39.5 51.3-69.7 51.9-7.6 91.6-52.6 91.6-106.9V76c0-6.6-5.4-12-12-12zM70 136v-44h26v81.6C80 166.8 70 152.6 70 136zm372 0c0 16.6-10 30.8-26 37.6V92h26v44z"/>
            </svg>
          </div>
          <h4 class="feature-title">Mejor Anfitrion</h4>
          <p>Ganador de placa al mejor anfitrion del torneo</p>
        </div>

        <div class="feature-item">
          <div class="icon-svg">
            <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="copa-svg">
              <path fill="white" d="M458 64h-42V48c0-8.8-7.2-16-16-16H112c-8.8 0-16 7.2-16 16v16H54c-6.6 0-12 5.4-12 12v60c0 54.3 39.7 99.3 91.6 106.9 6.2 30.2 25.2 55.6 51.3 69.7v44.1c0 17.8-11.6 33.7-28.6 39.3l-45.6 15.2c-6.6 2.2-11.2 8.4-11.2 15.5V464c0 8.8 7.2 16 16 16h256c8.8 0 16-7.2 16-16v-13.3c0-7.1-4.5-13.3-11.2-15.5l-45.6-15.2c-17-5.7-28.6-21.5-28.6-39.3v-44.1c26.1-14.1 45.1-39.5 51.3-69.7 51.9-7.6 91.6-52.6 91.6-106.9V76c0-6.6-5.4-12-12-12zM70 136v-44h26v81.6C80 166.8 70 152.6 70 136zm372 0c0 16.6-10 30.8-26 37.6V92h26v44z"/>
            </svg>
          </div>

          <h4 class="feature-title">Campeon Copa General</h4>
          <p>Copa general de todo el torneo</p>
        </div>
      </div>

       <hr class="linea-separadora">

    <p class="introInfo introInfo-gris">Demostrando el compromiso, el nivel 
          <br>
          y la pasión de nuestros jugadores.
       </p> 
       <br>
       <br>
      
    </div>
  
   <!-- cancha -->
  <section id="intro3" class="section-block section-canchas">
    <div class="title" id="reparacion-canchas">CANCHAS LISTAS</div>
    <div class="container-sinfondo intro-container">  
      <div class="introBox ">
        <p class="introTitle animar-aparecer ">Reparación de canchas </p>
        <p class="introInfo">
          En Apur confiamos en Cancha Lista Reparaciones, 
          <br>un servicio profesional especializado en el mantenimiento y reparación 
          <br>de canchas de polvo de ladrillo, 
          <br>con amplia trayectoria en Rosario y zonas aledañas.
        </p>
      </div>
      <div class="hero-overlay">
        <a href="https://wa.me/5493413006495" target="_blank" class="hero-button">CONTACTANOS</a>
      </div>
    </div>
    <div class="introTitle .introInfo-gris animar-aparecer">Servicios que ofrecemos</div>
    <br><br><br><br><br><br>
  </section>


  <section class="cards-container">
    <div class="card-box card">
      <img src="{% static 'imagenes/pelota.png' %}" alt="Picado">
      <p class="intro-sub ">Picado y compactación</p>
      <p>Picamos y compactamos polvo de ladrillo para preparar superficies niveladas y firmes.</p>
    </div>

    <div class="card-box card">
      <img src="{% static 'imagenes/pelota.png' %}" alt="Flejes">
      <p class="intro-sub ">Reparación de flejes</p>
      <p>Reparamos y reemplazamos flejes para que tus canchas mantengan su forma y drenaje.</p>
    </div>

    <div class="card-box card">
      <img src="{% static 'imagenes/pelota.png' %}" alt="Desmalezamiento">
      <p class="intro-sub ">Desmalezamiento y limpieza</p>
      <p>Eliminamos maleza y realizamos limpieza profunda para conservar la calidad del polvo.</p>
    </div>

    <!-- NUEVA cuarta card -->
    <div class="card-box card">
      <img src="{% static 'imagenes/pelota.png' %}" alt="Venta polvo">
      <p class="intro-sub ">Venta de polvo de ladrillo</p>
      <p>Polvo de ladrillo “bayo” de alta calidad, listo para tu cancha o proyecto.</p>
    </div>
  </section>

     <!-- ... -->
  <div class="introBox">
    <p class="introTitleB animar-aparecer">Presencia profesional</p>
    <p class="introInfo ">
      Cancha Lista ha trabajado en importantes clubes y eventos, 
      como el Jockey Club de Rosario y el prestigioso Challenger de 
      Rosario, garantizando resultados de nivel competitivo.

      Nos destacamos por llevar nuestras soluciones a clubes y 
      complejos de toda la región, no solo dentro de Rosario, 
      sino también en localidades cercanas.
    </p>
  </div>
  <!-- ... -->


</div>
   
<script>
  const animar = document.querySelectorAll('.animar-aparecer');

  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
      }
    });
  });

  animar.forEach(el => observer.observe(el));


  const imagenesCanchas = [
    "{% static 'imagenes/IMG_6911.jpg' %}",
    "{% static 'imagenes/IMG_3262.jpg' %}",
    "{% static 'imagenes/IMG_8595.jpg' %}"
  ];

  let indexCanchas = 0;
  const imgCanchas = document.getElementById("img-cambio-canchas");
  const flashCanchas = imgCanchas.nextElementSibling;

  function cambiarImagenCanchas() {
    // Flash y zoom in
    flashCanchas.style.opacity = 1;
    imgCanchas.classList.add("en-zoom");

    setTimeout(() => {
      indexCanchas = (indexCanchas + 1) % imagenesCanchas.length;
      imgCanchas.style.backgroundImage = `url('${imagenesCanchas[indexCanchas]}')`;
    }, 150);

    setTimeout(() => {
      flashCanchas.style.opacity = 0;
      imgCanchas.classList.remove("en-zoom");
    }, 400);
  }

  // Inicializar imagen
  imgCanchas.style.backgroundImage = `url('${imagenesCanchas[0]}')`;

  // Cambiar cada 3 segundos
  setInterval(cambiarImagenCanchas, 3000);


  // Este script debe correr para que aparezca el texto
document.addEventListener('DOMContentLoaded', () => {
  const elementos = document.querySelectorAll('.animate-from-left');
  const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
      }
    });
  }, { threshold: 0.2 });
  elementos.forEach(el => observer.observe(el));
});

document.addEventListener('DOMContentLoaded', function () {
    const btn = document.getElementById('scrollToTop');

    if (!btn) {
    console.warn('Botón "Volver arriba" no encontrado');
    return;
    }

    btn.addEventListener('click', () => {
    console.log("Click en botón scrollToTop");

    document.documentElement.scrollTop = 0; 
    document.body.scrollTop = 0;
    });
})

</script>

{% endblock %}
