{% extends "layout.html" %}

{% block content %}
<div class="container-admin">
    <h4>GESTOR DE TORNEOS</h4>
    <div class="text-section">
        <hr class="separator-line"> <!-- Línea separadora -->
        <p>ONN</p>
    </div>
    <div>
        <h1 class="display-3 text-light fw-semibold text-align-right h1-right">Torneos de</h1>
        <h2 class="display-1 text-light fw-bold titulos text-align-right">TENIS</h2>
        <div class="row">
            <!-- template.html -->
        </div>
    </div>
</div>
{% endblock %}
