{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        !Liga Tenis 2024
        {% block title %}
        {% endblock %}
    </title>
   <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <!-- jQuery (opcional, solo si es necesario) -->
    <!-- JS de Bootstrap y dependencias (jQuery y Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" defer></script>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Script personalizado -->
    <script src="{% static 'js/script.js' %}" defer></script>


</head>
<body class="{% block body_class %}fondo-principal{% endblock %}">
    <header>
        <div class="menu-principal">
            <button class="hamburguesa" id="menu-toggle">≡</button> <!-- Botón de menú a la izquierda -->
            
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="#">PADRON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">TORNEOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CATEGORIAS</a>
                </li>
            </ul>
            <a href="{% url 'login' %}">
                <img src="{% static 'imagenes/logo apur.png' %}" alt="APUR Logo" class="logo-menu"> <!-- Logo a la derecha -->
            </a>
        </div>

        <div class="side-menu" id="side-menu">
            <div class="menu-header">
                <h2>ONN</h2>
                <span class="close-btn" id="close-btn">&times;</span>
            </div>
            <ul>
                <li ><a href="genero.html">RANKING</a></li>
                <hr class="separator-negro">
                <li><a href="#">CATEGORIAS</a></li>
                <hr class="separator-negro">
                <li><a href="{% url 'admin_menu' %}">JUGADORES</a></li>
                <hr class="separator-negro">
                <li><a href="#">TIENDA</a></li>
                <hr class="separator-negro">
            </ul>
            <ul>
                <li><a href="#" class="contact-link">Políticas de seguridad</a></li>
                <li><a href="#" class="contact-link">Notificar problemas</a></li>
                <hr class="separator-negro">
                <li><a href="https://wa.me/+5493413006495" class="contact-link">CONTACTO</a></li>
            </ul>
        </div>
    </header>
    
    <div id="content"> 
        {% block content %}
        <!-- Aquí va el código de cada página del template -->
        {% endblock %}
    </div>

    <footer>
        <div class="footer-bar">
            <a href="{% url 'index' %}" class="home-link">
                <button class="icon-button">
                    <i class="bi bi-house-door-fill"></i><!-- Icono de home -->
                </button>
            </a>
            <button class="footer-button">SALIR</button>
            <button class="icon-button" id="back-btn">
                <i class="bi bi-backspace-fill"></i>
            </button>
        </div>
    </footer>
</body>
</html>
