{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        APUR - LIGA 2025
        {% block title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
   <!-- Bootstrap CSS -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <!-- Font Awesome Icon -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

    <!-- jQuery (opcional, solo si es necesario) -->
    <!-- JS de Bootstrap y dependencias (jQuery y Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js" defer></script>

    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Script personalizado -->
    <script src="{% static 'js/script.js' %}" defer></script>

    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- jQuery (ya lo tenés, pero debe estar antes que Select2) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


</head>
<body class="{% block body_class %}fondo-principal{% endblock %}">

    <!-- Menú Principal -->
    <div class="menu-principal">
        <button class="hamburguesa" id="menu-toggle">≡</button>
        <a href="{% url 'index' %}">
            <img src="{% static 'imagenes/logo apur.png' %}" alt="APUR Logo" class="logo-menu">
        </a>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link card" href="{% url 'listado_jugadores' %}">&nbsp;JUGADORES&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link card" href="{% url 'historial_publico' %}">&nbsp;HISTORIAL PARTIDOS&nbsp;</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link card" href="{% url 'ranking_general' %}">&nbsp;RANKING&nbsp;</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link card" href="{% url 'listado_sedes' %}">&nbsp;SEDES&nbsp;</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link card" href="{% url 'listado_canchas' %}">&nbsp;CANCHAS&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link card" href="{% url 'listados_categorias' %}">&nbsp;CATEGORÍAS&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link card" href="{% url 'crear_torneo' %}">&nbsp;GESTIÓN DE TORNEOS&nbsp;</a>
            </li>
            {% endif %}
        </ul>
        <div class="nav-user">
            <!-- Si estas logueado permite desloguearse -->
            {% if not user.is_authenticated %}
            <!-- Si NO estás logueado, al click va a /login/ -->
             <div class="user-icon-wrapper">
                 <a href="{% url 'login' %}">
                     <i class="fas fa-user-circle"></i>
                     <span class="hover-label">INGRESAR</span>
                 </a>
             </div>
             
            {% else %}
            <!-- Si estás logueado, al click va al menú de admins -->
             <div class="user-icon-wrapper">
                 <a href="{% url 'admin_menu' %}">
                     <i class="fas fa-user-circle"></i>
                     <span class="hover-label">MENÚ ADMIN</span>
                 </a>
             </div>
            {% endif %}

            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" title="Salir" class="logout-btn">
                    SALIR
                </button>
            </form>
            {% endif %}
        </div>
    </div>

    <!-- Side Menú -->
    <div class="side-menu" id="side-menu">
        <div class="container-close-btn">
            <img src="{% static 'imagenes/logo apur.png' %}" alt="APUR Logo" class="logo-menu-sidemenu">
            <span class="close-btn" id="close-btn">&times;</span>
        </div>
        <ul>
            <li ><a href="{% url 'index' %}">INICIO</a></li>
            <hr class="separator-negro">
            <li ><a href="{% url 'listado_jugadores' %}">JUGADORES</a></li>
            <hr class="separator-negro">
            <li><a href="{% url 'historial_publico' %}">HISTORIAL PARTIDOS</a></li>
            <!-- <hr class="separator-negro"> -->
            <!-- <li><a href="{% url 'ranking_general' %}">RANKING</a></li> -->
            <hr class="separator-negro">
            <li><a href="{% url 'listado_sedes' %}">SEDES</a></li>
            <hr class="separator-negro">
            {% if user.is_authenticated %}
            <li><a href="{% url 'listado_canchas' %}">CANCHAS&</a></li>
            <hr class="separator-negro">
            <li><a href="{% url 'listados_categorias' %}">CATEGORÍAS</a></li>
            <hr class="separator-negro">
            <li><a href="{% url 'crear_torneo' %}">GESTIÓN DE TORNEOS</a></li>
            {% else %}
            <li><a href="https://www.instagram.com/aptenisshop/" target="_blank">TIENDA</a></li>
            <hr class="separator-negro">
            <li><a class="contact-link" href="https://wa.me/5493413006495" target="_blank">CONTACTO</a></li>
            {% endif %}
            <hr class="separator-negro">
        </ul>
        <p class="copy">&copy; 2025 HERAAS. Todos los derechos reservados.</p>
    </div>

    {% if messages %}
    <div id="toast-container">
    {% for message in messages %}
        <div class="custom-toast {{ message.tags }}">
        {{ message }}
        </div>
    {% endfor %}
    </div>

    <script>
    setTimeout(() => {
        const toasts = document.querySelectorAll('.custom-toast');
        toasts.forEach(toast => {
        toast.style.opacity = '0';
        setTimeout(() => toast.remove(), 500);
        });
    }, 3000);
    </script>
    {% endif %}

    <div id="content"> 
        {% block content %}{% endblock %}
        <footer class="footer" id="footer"> 
            <div class="footer-section">
                <h3 class="footer-titulo">SEGUINOS</h3>
                <div class="social-icons">
                    <a href="https://www.instagram.com/apurtenis/" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://wa.me/5493413006495" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="https://www.facebook.com/tu_pagina" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div> 
                <h3 class="footer-titulo">CONTACTANOS</h3>
                <p><i class="fas fa-phone-alt"></i> Teléfono: +54 341 6830332</p>
                <p><i class="fas fa-map-marker-alt"></i> Dirección: Av. Belgrano 2182, Rosario, Santa Fe, Argentina</p>
                <p >&copy; 2025 HERAAS. Todos los derechos reservados.</p>
            </div>  
        </footer>
    </div>
    <!-- Botón de volver arriba -->
    <button id="scrollToTop" title="Volver arriba">
        <i class="fas fa-arrow-up"></i>
    </button>
</body>
</html>
