{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="containerLayout">

    <!-- Logo principal -->
    <div class="logoLayout fade-in">
        <img src="{% static 'imagenes/logo apur.png' %}" alt="Logo">
    </div>

    <p class="hero-subtitle" style="font-size: 1.3rem !important; margin-bottom: .5rem;">Bienvenido a la Liga 2025!</p>
    <p class="hero-subtitle" style="font-size: 1.3rem !important; margin:0rem">Elegí qué queres ver:</p>
    <!-- <div class="text-section"></a>
        <hr class="separator-line">
        <p></p>
    </div> -->

    <br>
    <!-- Botón personalizado grande -->
    <div class="box-section fade-in slide-up" style="margin:.3rem">
        <a href="{% url 'listado_jugadores' %}">
            <button class="boton-grande">JUGADORES</button>
        </a>
    </div>

    <!-- Botón personalizado grande -->
    <div class="box-section fade-in slide-up" style="margin:.3rem">
        <a href="{% url 'programacion' %}">
            <button class="boton-grande">PROGRAMACIÓN</button>
        </a>
    </div>

    <!-- Botón personalizado grande -->
    <div class="box-section fade-in slide-up" style="margin:.3rem">
        <a href="{% url 'ver_ranking' 0 %}">
            <button class="boton-grande">RANKING</button>
        </a>
    </div>

    <!-- Botón personalizado grande -->
    <div class="box-section fade-in slide-up" style="margin:.3rem">
        <a href="{% url 'historial_publico' %}">
            <button class="boton-grande">RESULTADOS</button>
        </a>
    </div>

    <!-- Botón personalizado grande -->
    <div class="box-section fade-in slide-up" style="margin:.3rem">
        <a href="{% url 'listado_sedes' %}">
            <button class="boton-grande">SEDES</button>
        </a>
    </div>
    
    <!-- Logos en una sola fila -->
    <p class="hero-subtitle" style="font-size: 1.3rem !important; margin-bottom: .5rem;">Nuestros Sponsors</p>

    <div class="logos-fila">
        <img src="{% static 'imagenes/sponsor1.jpeg' %}" alt="Logo 1">
        <img src="{% static 'imagenes/sponsor2.jpeg' %}" alt="Logo 2">
        <img src="{% static 'imagenes/sponsor3.jpeg' %}" alt="Logo 3">
        <img src="{% static 'imagenes/sponsor4.jpeg' %}" alt="Logo 4">
        <img src="{% static 'imagenes/sponsor5.jpeg' %}" alt="Logo 5">
        <img src="{% static 'imagenes/sponsor6.jpeg' %}" alt="Logo 6">
    </div>


</div>
{% endblock %}
