{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="containerLayout">
    <h4>GESTOR DE TORNEOS</h4>
    <div class="text-section"></a>
        <hr class="separator-line">
        <p>HERAs</p>
    </div>

    <!-- Logo principal -->
    <div class="logoLayout fade-in">
        <img src="{% static 'imagenes/logo apur.png' %}" alt="Logo">
    </div>

    <br>
    <!-- Botón personalizado grande -->
    <div class="box-section fade-in slide-up">
        <a href="{% url 'listado_jugadores' %}">
            <button class="boton-grande">JUGADORES</button>
        </a>
    </div>
    <!-- Botón personalizado grande -->
    <div class="box-section fade-in slide-up">
        <a href="{% url 'historial_publico' %}">
            <button class="boton-grande">HISTORIAL</button>
        </a>
    </div>

    <!-- Botón personalizado grande -->
    <div class="box-section fade-in slide-up">
        <a href="{% url 'listado_sedes' %}">
            <button class="boton-grande">SEDES</button>
        </a>
    </div>

        <!-- Botón personalizado grande -->
    <!-- <div class="box-section fade-in slide-up">
        <a href="{% url 'ranking_general' %}">
            <button class="boton-grande">RANKING</button>
        </a>
    </div> -->

</div>
{% endblock %}
