{% extends "layout.html" %}
{% block body_class %}fondo-secundario{% endblock %}

{% block content %}
<div class="container-admin">
    <h4>ADMINISTRADOR</h4>
    <div class="text-section">
        <hr class="separator-line">
        <h2>LISTADO</h2>
    </div>
    <div class="text-section">
        <hr class="separator-line">
        <h5>COMPLETO DE SEDES</h5>
    </div>

    <div class="form-container">
        <div class="narrow-box">
            <div class="title-orange-gris">
                <h1>SEDES</h1>
                <h3 class="negro chico">OPCIONES</h3>
            </div>
            <a href="{% url 'admin_menu' %}">
                <button class="login-button peque">MENU</button>
            </a>
            <hr class="separator">

            <a href="{% url 'listado_sedes' %}">
                <button class="login-button-gris chico">Listado completo</button>
            </a>

            <hr class="separator">
            <h3 class="negro">BUSCAR POR NOMBRE</h3>
            <form method="GET" action="{% url 'listado_sedes' %}" class="d-flex align-items-center mb-3">
                <input class="input-field" type="text" name="search" placeholder="Buscar por nombre de sede" value="{{ request.GET.search }}">
                <button class="login-button-gris chico ms-2" type="submit">Buscar</button>
            </form>
            <hr class="separator">

            <a href="{% url 'abm_sede' %}">
                <button class="login-button chico">ALTA</button>
            </a>
        </div>

        <div class="login-box listados">
            <table class="table table-striped-columns table-light table-bordered table-sm">
                <thead class="table-success">
                    <tr class="title-container">
                        <th>ID</th>
                        <th>NOMBRE</th>
                    </tr>
                </thead>
                <tbody>
                    {% if sedes %}
                        {% for sede in sedes %}
                            <tr>
                                <td>{{ sede.id }}</td>
                                <td>{{ sede.nombre }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2" class="text-center">No hay sedes registradas.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
