{% extends "layout.html" %}
{% block body_class %}fondo-secundario{% endblock %}
{% load custom_filters %}

{% block content %}

<div class="container-admin">
    {% if user.is_authenticated %}
        <h4>ADMINISTRADOR</h4>
        {% else %}
        <h4>LIGA 2025</h4>
    {% endif %}
    <div class="text-section">
        <hr class="separator-line">
        <h5 style="font-size: 1rem; margin-top: 1rem; margin-bottom: 1rem;">LISTADO DE JUGADORES</h5>
    </div>

    <!-- FILTROS -->
    <div class="recuadro-tabla">
        <!-- NOTA: id="toggle-crear" agregar en div de opciones para cerrar y abrir panel -->
        <div  style="cursor: pointer;" class="green-box-title-btn">
            <h4 style="margin: 0;">FILTROS</h4>
        </div>
        <!-- id="form-crear"  agregar en div de form container sumado a clase hidden para cerrar y abrir panel -->
        <div class="form-container-torneos">
            <div class="container-form-filter">
                <form method="GET" action="{% url 'listado_jugadores' %}#resultados" class="row g-2 mb-3">

                    <!-- BUSCAR POR JUGADOR -->
                    <div class="filtro-busqueda1" >
                        <span class="span-filter">JUGADOR</span>
                        <input type="text" name="search" placeholder="Ingresar nombre o apellido" class="form-control" value="{{ filtros.search }}">
                    </div>

                    <!-- GÉNERO -->
                    <div class="filtro-busqueda1">
                        <span class="span-filter">GÉNERO</span>
                        <select name="sexo" id="filtro-sexo" class="form-select">
                            <option value="">Todos</option>
                            <option value="M" {% if filtros.sexo == "M" %}selected{% endif %}>Masculino</option>
                            <option value="F" {% if filtros.sexo == "F" %}selected{% endif %}>Femenino</option>
                        </select>
                    </div>

                    <!-- CATEGORÍA -->
                    <div class="filtro-busqueda1">
                        <span class="span-filter">CATEGORÍA</span>
                        <select name="categoria" id="filtro-categoria" class="form-select">
                            <option value="">Todas</option>
                            {% for categoria in todas_categorias %}
                            <option value="{{ categoria.id_categoria }}"
                                {% if filtros.categoria|stringformat:"s" == categoria.id_categoria|stringformat:"s" %}selected{% endif %}>
                                {{ categoria|formatear_categoria }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- BOTONES -->
                    <div class="btn-filtros">
                        <button class="btn-opciones" type="submit">FILTRAR</button>
                        <div class="btn-opciones">
                            <a href="{% url 'listado_jugadores' %}#resultados">LIMPIAR FILTROS</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- LINKS -->
            <div id="resultados">
                <a class="a-options" href="{% url 'admin_menu' %}">
                <i class="bi bi-box-arrow-right" style="margin-right: 5px;"></i>
                MENÚ ADMINISTRADOR
                </a>
                {% if user.is_authenticated and user.is_staff %}
                <a class="a-options" href="{% url 'admin_carga_jugador' %}">
                <i class="bi bi-plus-circle-fill" style="margin-right: 5px;"></i>
                ALTA JUGADOR
                </a>
                {% endif %}

                {% if user.is_authenticated and user.is_staff %}
                {% with query_string=request.GET.urlencode %}
                <a href="{% url 'exportar_jugadores_pdf' %}?{{ query_string }}"
                    target="_blank"
                    class="a-options">
                    <i class="bi bi-file-earmark-pdf" style="margin-right: 5px;"></i>
                    DESCARGAR EN PDF
                </a>
                {% endwith %}
                {% endif %}
            </div>
        </div>
    </div>
   
    <!-- LISTADO -->
     <div>
         <div class="recuadro-tabla">
            <!-- PAGINADO -->
             <div class="green-box-table">
                 <div class="pagination-container">
                    Página {{ jugadores.number }} de {{ jugadores.paginator.num_pages }}
                    {% if jugadores.has_previous %}
                        <a href="?page={{ jugadores.previous_page_number }}{% if filtros.search %}&search={{ filtros.search }}{% endif %}{% if filtros.sexo %}&sexo={{ filtros.sexo }}{% endif %}{% if filtros.categoria %}&categoria={{ filtros.categoria }}{% endif %}#resultados" class="arrow">&lt;</a>
                    {% endif %}
                    {% if jugadores.has_next %}
                        <a href="?page={{ jugadores.next_page_number }}{% if filtros.search %}&search={{ filtros.search }}{% endif %}{% if filtros.sexo %}&sexo={{ filtros.sexo }}{% endif %}{% if filtros.categoria %}&categoria={{ filtros.categoria }}{% endif %}#resultados" class="arrow">&gt;</a>
                    {% endif %}
                </div>
             </div>

            <p style="margin-top: .5rem; color: rgb(150, 149, 149); font-size: .8rem;">
                {{ jugadores.paginator.count }} resultados encontrados.
            </p>

             <!-- TABLA -->
             <div class="tabla-wrapper">
                 <table class="tabla-usuarios">
                     <thead>
                         <tr>
                             <th>APELLIDO</th>
                             <th>NOMBRE</th>
                             <th>SEXO</th>
                             <th>CATEGORIA</th>
                             <th>INFO</th>
                             {% if user.is_authenticated and user.is_staff %}
                                 <th>EDITAR</th>
                                 <th>ELIMINAR</th>
                             {% endif %}
                         </tr>
                     </thead>
                     <tbody>
                         {% if jugadores %}
                             {% for jugador in jugadores %}
                                 <tr>
                                     <td scope="row">{{ jugador.apellido | upper }}</td>
                                     <td>{{ jugador.nombre | capfirst }}</td>
                                     <td>{{ jugador.sexo }}</td>
                                     <td>
                                         {% if jugador.categorias.all %}
                                             {% for categoria in jugador.categorias.all %}
                                                 {{ categoria|formatear_categoria }}{% if not forloop.last %} / {% endif %}
                                             {% endfor %}
                                         {% else %}
                                             <span>Sin categoría</span>
                                         {% endif %}
                                     </td>
                                     <td>
                                         <a href="{% url 'datos_jugador' jugador.dni %}" class="btn-info">+</a>
                                     </td>
                                     {% if user.is_authenticated and user.is_staff %}
                                     <!-- EDITAR -->
                                     <td>
                                         <button type="button"
                                         data-bs-toggle="modal"
                                         data-bs-target="#modificarModal-{{ jugador.dni }}"
                                         title="Modificar jugador" class="btn-edit">
                                             <i class="bi bi-pencil-square" style="font-size: 1.1rem;"></i>
                                         </button>
                                     {% endif %}
                                         <!-- Modal para modificar el jugador -->
                                         <div class="modal fade" id="modificarModal-{{ jugador.dni }}" tabindex="-1" aria-labelledby="modificarModalLabel-{{ jugador.dni }}" aria-hidden="true">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h3 class="modal-title" id="modificarModalLabel-{{ jugador.dni }}">
                                                             Modificar jugador '{{ jugador.apellido | upper }} {{ jugador.nombre | capfirst }}'
                                                         </h3>
                                                         <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                             <i class="bi bi-x" style="font-size: 1.5rem;"></i>
                                                         </button>
                                                     </div>
                                                     <div class="modal-body">
                                                         <form method="POST" action="{% url 'modificar_jugador' jugador.dni %}">
                                                             {% csrf_token %}
                                                             <div class="mb-3">
                                                                 <label for="nombre">Nombre:</label>
                                                                 <input class="form-control" type="text" value="{{ jugador.nombre | capfirst }}" name="nombre" id="nombre" required>
                                                             </div>
                                                             <div class="mb-3">
                                                                 <label for="apellido">Apellido:</label>
                                                                 <input class="form-control" type="text" value="{{ jugador.apellido | upper }}" name="apellido" id="apellido" required>
                                                             </div>
                                                             <input type="hidden" name="dni" value="{{ jugador.dni }}">
                                                             <div class="mb-3">
                                                                 <label for="sexo">Sexo:</label>
                                                                 <select class="form-select" name="sexo" id="sexo" required>
                                                                     <option value="M" {% if jugador.sexo == "M" %} selected {% endif %}>Masculino</option>
                                                                     <option value="F" {% if jugador.sexo == "F" %} selected {% endif %}>Femenino</option>
                                                                 </select>
                                                             </div>
                                                             <div class="mb-3">
                                                                 <label for="categorias">Categorías:</label>
                                                                 <select id="categorias-{{ jugador.dni }}" name="categorias[]" class="form-select" multiple>
                                                                     {% for categoria in todas_categorias %}
                                                                         <option value="{{ categoria.id_categoria }}" {% if categoria in jugador.categorias.all %} selected {% endif %}>
                                                                             {{ categoria }}
                                                                         </option>
                                                                     {% endfor %}
                                                                 </select>
                                                             </div>
                                                             <div class="text-center">
                                                                 <button class="login-button btn btn-success" type="submit">Guardar cambios</button>
                                                             </div>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </td>
     
                                     {% if user.is_authenticated and user.is_staff %}
                                     <td>
                                         <button type="button"
                                                 data-bs-toggle="modal"
                                                 data-bs-target="#eliminarModal-{{ jugador.dni }}"
                                                 title="Eliminar jugador" class="btn-delete">
                                             <i class="bi bi-trash-fill" style="font-size: 1.1rem;"></i>
                                         </button>
     
                                         {% include 'modal_eliminar_jugador.html' %}
                                     </td>
                                     {% endif %}
     
                                 </tr>
                             {% endfor %}
                         {% else %}
                             <tr>
                                 <td colspan="6" class="text-center">No hay jugadores registrados.</td>
                             </tr>
                         {% endif %}
                     </tbody>
                 </table>
             </div>
         </div>
     </div>
</div>

<script>
    $(document).ready(function() {
        $('select[id^="categorias-"]').select2({
            placeholder: 'Selecciona una o más categorías',
            allowClear: true,
            width: '100%'
        });
    });
</script>
{% endblock %}
