{% extends "layout.html" %}
{% block body_class %}fondo-secundario{% endblock %}

{% block content %}
<div class="container-admin">
    <h4>ADMINISTRADOR</h4>
    <div class="text-section">
        <hr class="separator-line">
        <h2>LISTADO</h2>
    </div>
    <div class="text-section">
        <hr class="separator-line">
        <h5>COMPLETO DE JUGADORES</h5>
    </div>
    <div class="form-container">
        <div class="narrow-box">
            <div class="title-orange-gris">
                <h1>JUGADORES</h1>
                <h3 class="negro chico">OPCIONES</h3>
            </div>
            <a href="{% url 'admin_menu' %}">
                <button class="login-button peque">MENU</button>
            </a>
            <a href="{% url 'listado_jugadores' %}">
                <button class="login-button chico">Listado completo</button>
            </a>
            <a href="{% url 'listado_jugadores' %}">
                <button class="login-button chico">Por Categoría</button>
            </a>
            <hr class="separator">
            <h3 class="negro">BUSCAR POR JUGADOR</h3>
            <form method="GET" action="{% url 'listado_jugadores' %}" class="d-flex align-items-center mb-3">
                <input class="input-field" type="text" name="search" placeholder="Buscar por nombre o apellido" value="{{ search }}">
                <button class="login-button-gris chico ms-2" type="submit">Buscar</button>
            </form>
            <hr class="separator">
            <a href="{% url 'admin_carga_jugador' %}">
                <button class="login-button chico">ALTA</button>
            </a>
            <hr class="separator">
          
            <div class="buttons-container">
                <a href="{% url 'admin_menu' %}">
                    <button class="login-button-gris chico">IMPRIMIR</button>
                </a>
                <a href="{% url 'admin_menu' %}">
                    <button class="login-button-gris chico">PDF</button>
                </a>
            </div>
        </div>

        <div class="login-box listados">
            <!-- Nueva barra de color que contiene la paginación y el filtro -->
            <div class="barra-titulo">
                <div class="barra-titulo-contenido d-flex justify-content-between align-items-center">
                    <!-- Paginación -->
                    <div class="pagination d-flex align-items-center">
                        <div class="fw-bold mx-3">
                            Página {{ jugadores.number }} de {{ jugadores.paginator.num_pages }}&nbsp;&nbsp;
                        </div>
                        <div class="d-flex me-3">
                            {% if jugadores.has_previous %}
                                <a href="?page={{ jugadores.previous_page_number }}" class="login-button peque">&lt;</a>
                            {% endif %}
                        </div>
                        <div class="d-flex">
                            {% if jugadores.has_next %}
                                <a href="?page={{ jugadores.next_page_number }}" class="login-button peque">&gt;</a>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Formulario de filtrado por sexo -->
                    <form method="GET" action="{% url 'listado_jugadores' %}" class="d-flex align-items-center ms-3">
                        <select name="sexo" class="input-field me-2" style="width: 200px;" onchange="this.form.submit()">
                            <option value="">Filtrar por sexo</option>
                            <option value="masculino" {% if sexo == "masculino" %} selected {% endif %}>Masculino</option>
                            <option value="femenino" {% if sexo == "femenino" %} selected {% endif %}>Femenino</option>
                        </select>
                        <input type="hidden" name="search" value="{{ search }}">
                    </form>
                </div>
            </div>
            <!-- Fin de la nueva barra -->

            <table class="table table-striped-columns table-light table-bordered table-sm">
                <thead class="table-success">
                    <tr class="title-container">
                        <th>APELLIDO</th>
                        <th>NOMBRE</th>
                        <th>DNI</th>
                        <th>SEXO</th>
                        <th>CATEGORÍA</th>
                        <th>INFO</th>
                        <th>MODIFICAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    {% if jugadores %}
                        {% for jugador in jugadores %}
                            <tr>
                                <th scope="row">{{ jugador.apellido }}</th>
                                <td>{{ jugador.nombre }}</td>
                                <td>{{ jugador.dni }}</td>
                                <td>{{ jugador.sexo }}</td>
                                <td>
                                    {% for jugador_categoria in jugador.jugadorcategoria_set.all %}
                                        {{ jugador_categoria.categoria.nivel }} - {{ jugador_categoria.categoria.edad }} - {{ jugador_categoria.categoria.tipo_juego }}
                                        s{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <a href="{% url 'datos_jugador' jugador.dni %}" class="modificar-button">+</a>
                                </td>
                                <td>
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificarModal-{{ jugador.dni }}">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <!-- Modal para modificar el jugador -->
                                    <div class="modal fade" id="modificarModal-{{ jugador.dni }}" tabindex="-1" aria-labelledby="modificarModalLabel-{{ jugador.dni }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="modificarModalLabel-{{ jugador.dni }}">Modificar jugador '{{ jugador.apellido }} {{ jugador.nombre }}'</h3>
                                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <i class="bi bi-x" style="font-size: 1.5rem;"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="POST" action="{% url 'modificar_jugador' jugador.dni %}">
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            <label for="nombre">Nombre:</label>
                                                            <input class="input-field" type="text" value="{{ jugador.nombre }}" name="nombre" id="nombre" class="form-control" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="apellido">Apellido:</label>
                                                            <input class="input-field" type="text" value="{{ jugador.apellido }}" name="apellido" id="apellido" class="form-control" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="dni">DNI:</label>
                                                            <input class="input-field" type="text" value="{{ jugador.dni }}" name="dni" id="dni" class="form-control" required>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="sexo">Sexo:</label>
                                                            <select class="form-select" name="sexo" id="sexo" required>
                                                                <option value="M" {% if jugador.sexo == "M" %} selected {% endif %}>Masculino</option>
                                                                <option value="F" {% if jugador.sexo == "F" %} selected {% endif %}>Femenino</option>
                                                            </select>
                                                        </div>
                                                        <div class="text-center">
                                                            <button class="login-button">Guardar cambios</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <!-- Botón BORRAR con clase 'delete-button' -->
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarModal-{{ jugador.dni }}">
                                        <i class="bi bi-trash-fill"></i>
                                    </button>
                                    {% include 'modal_eliminar_jugador.html' %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center">No hay jugadores registrados.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
