{% extends "layout.html" %}
{% block body_class %}fondo-secundario{% endblock %}

{% block content %}
<div class="container-admin">
    <h4>ADMINISTRADOR</h4>
    <div class="text-section">
        <hr class="separator-line">
        <h2>LISTADO</h2>
    </div>
    <div class="text-section">
        <hr class="separator-line">
        <h5>COMPLETO DE SEDES</h5>
    </div>

    <div class="form-container">
        <div class="narrow-box">
            <div class="title-orange-gris">
                <h1>SEDES</h1>
                <h3 class="negro chico">OPCIONES</h3>
            </div>
            <a href="{% url 'admin_menu' %}">
                <button class="login-button peque">MENU</button>
            </a>
            <hr class="separator">

            <a href="{% url 'listado_sedes' %}">
                <button class="login-button-gris chico">Listado completo</button>
            </a>

            <hr class="separator">
            <h3 class="negro">BUSCAR POR NOMBRE</h3>
            <form method="GET" action="{% url 'listado_sedes' %}" class="d-flex align-items-center mb-3">
                <input class="input-field" type="text" name="search" placeholder="Buscar por nombre de sede" value="{{ request.GET.search }}">
                <button class="login-button-gris chico ms-2" type="submit">Buscar</button>
            </form>
            <hr class="separator">

            <a href="{% url 'abm_sede' %}">
                <button class="login-button chico">ALTA</button>
            </a>
        </div>

        <div class="login-box listados">
            <table class="table table-striped-columns table-light table-bordered table-sm">
                <thead class="table-success">
                    <tr class="title-container">
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    {% if sedes %}
                        {% for sede in sedes %}
                            <tr>
                                <td>{{ sede.id }}</td>
                                <td style="text-align: left;">{{ sede.nombre }}</td>
                            
                                <td>
                                    <button type="button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#eliminarModal-{{ sede.id }}"
                                            title="Eliminar sede"
                                            style="all: unset; cursor: pointer; display: inline-flex; align-items: center; justify-content: center;">
                                        <i class="bi bi-trash-fill" style="font-size: 1.5rem; color: red;"></i>
                                    </button>

                                    <!-- Modal eliminar sede -->
                                    <div class="modal fade" id="eliminarModal-{{ sede.id }}" tabindex="-1" aria-labelledby="eliminarModalLabel-{{ sede.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <form method="POST" action="{% url 'eliminar_sede' sede.id %}">
                                            {% csrf_token %}
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="eliminarModalLabel-{{ sede.id }}">¿Eliminar sede "{{ sede.nombre }}"?</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <i class="bi bi-x" style="font-size: 1.5rem;"></i>
                                            </button>
                                            </div>
                                            <div class="modal-body">
                                            Esta acción eliminará permanentemente la sede del sistema.
                                            </div>
                                            <div class="modal-footer">
                                            <button type="submit"class="login-button rojo delete-button">ELIMINAR</button>
                                            
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                    </div>
                                </td>
                            </tr>

                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="2" class="text-center">No hay sedes registradas.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
