{% extends "layout.html" %}    

{% block content %} 
<div class="container-admin">
    <h4>ADMINISTRADOR</h4>
    <div class="text-section">
        <hr class="separator-line"> <!-- Línea separadora -->
        <h5>ALTA</h5>
    </div>
    <div class="text-section">
        <hr class="separator-line"> <!-- Línea separadora -->
        <h2>CARGA DE NUEVO JUGADOR</h2>
    </div>
    <div class="form-container">
        <!-- Rectángulo angosto a la izquierda -->
        <div class="narrow-box">
            <div class="title-orange-gris">
                <h1>ALTA</h1>
                <hr class="title-separator">
                <h3>DE NUEVOS JUGADORES</h3>
            </div>
            <hr class="separator">
            <h3>BUSCAR POR JUGADOR</h3>
                <input type="text" placeholder="Buscar por Jugador" class="input-field">
                <hr class="separator">
                
        </div>

        <!-- Login box a la derecha del rectángulo angosto -->
        <div class="login-box">
            <form id="form-nuevo-jugador" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
                <input type="number" id="dni" name="dni" placeholder="DNI" required>
                <select id="sexo" name="sexo" required>
                    <option value="" disabled selected>Sexo</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
                <input type="text" id="toreno" name="toreno" placeholder="Torneo" required>
                <select id="categoria" name="categoria" required>
                    <option value="" disabled selected>CATEGORIA</option>
                    <option value="1">1° Intermedia</option>
                    <option value="2">2 + 30</option>
                    <option value="3">3 + 30</option>
                    <option value="4">4 + 30</option>
                    <option value="5">5 + 30</option>
                    <option value="6">6 + 30</option>
                </select>
                <input type="file" id="foto" name="foto">
                
                <!-- Botón para mostrar el resumen de los datos -->
                <button class="login-button" type="button" onclick="mostrarResumen()">ACEPTAR</button>
                
                <!-- Botón oculto que aparecerá después de mostrar el resumen -->
                <button class="login-button" id="confirmar" type="submit" style="display:none;">CONFIRMAR</button>
            </form>
            
            <!-- Aquí se mostrará el resumen de los datos ingresados -->
            <div id="resumen-datos" style="display:none;">
                <h3>Resumen de Datos</h3>
                <p id="resumen-nombre"></p>
                <p id="resumen-apellido"></p>
                <p id="resumen-dni"></p>
                <p id="resumen-sexo"></p>
                <p id="resumen-torneo"></p>
                <p id="resumen-categoria"></p>
                <button onclick="editarDatos()">Editar</button>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
